<div id="contact-popup">
    <div class="contact-content">
        <div class="left-contact-content">
            <div class="logo-icon">
                <svg width="49" height="66" viewBox="0 0 49 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M48.9998 33.8918C48.9998 31.7229 47.2455 29.9639 45.0815 29.9639H43.0582C40.8942 29.9639 39.1399 31.722 39.1399 33.8909C39.1399 36.0597 40.8942 37.8189 43.0582 37.8189H45.0815C47.2455 37.8189 48.9998 36.0606 48.9998 33.8918Z" fill="#FF7121"/>
                    <path d="M37.2012 33.6C37.203 33.5813 37.203 33.5626 37.2012 33.5439C37.1977 33.4393 37.1866 33.3351 37.1678 33.2321C37.1661 33.2047 37.1661 33.1771 37.1678 33.1497C37.1489 33.0594 37.1344 32.9772 37.1119 32.8913L37.0668 32.7294L37.0334 32.6281C36.8356 32.005 36.483 31.4424 36.0086 30.9933C35.5344 30.5442 34.9539 30.2233 34.322 30.0607H34.2768L34.1046 30.0191L33.8574 29.9776H33.7528C33.6517 29.9776 33.5543 29.9586 33.4533 29.955H2.15329L0.947278 31.3472C0.276246 32.1234 -0.0610353 33.1342 0.00910351 34.1588C0.0792423 35.1834 0.551103 36.1385 1.32162 36.8155L1.39648 36.8834C1.7924 37.2277 2.25428 37.4876 2.75385 37.6469C3.25343 37.8062 3.78018 37.8617 4.30188 37.81H24.6695L5.97603 59.3365C5.29566 60.122 4.95314 61.1455 5.02328 62.1833C5.09342 63.2211 5.57052 64.189 6.35037 64.8754C7.13481 65.5578 8.15682 65.9013 9.19316 65.831C10.2295 65.7607 11.196 65.2823 11.8816 64.5003L36.2215 36.4621C36.4403 36.208 36.6252 35.9266 36.7718 35.6249C36.7718 35.6249 36.7908 35.5915 36.798 35.5761C36.8313 35.5012 36.8656 35.4297 36.8954 35.3547C36.9251 35.2797 36.9369 35.2463 36.9549 35.1892L37 35.0617C37.0262 34.9714 37.0524 34.881 37.0712 34.7905L37.0939 34.7083C37.104 34.6047 37.1215 34.502 37.1461 34.4009C37.1442 34.3811 37.1442 34.3611 37.1461 34.3412C37.1426 34.2332 37.1502 34.125 37.1687 34.0186V33.8875C37.1921 33.7934 37.203 33.6968 37.2012 33.6Z" fill="#FF7121"/>
                    <path d="M32.6803 6.4892C33.3524 5.71281 33.6905 4.70123 33.6203 3.67574C33.5502 2.65026 33.0776 1.69436 32.306 1.01718L32.2311 0.949379C31.4566 0.27686 30.4481 -0.0611706 29.4257 0.00912367C28.4035 0.0794179 27.4504 0.552324 26.7748 1.32454L5.71899 25.7185H16.1103L32.6803 6.4892Z" fill="#FF7121"/>
                </svg>
            </div>
            <div class="form-content">
                <h1>
                    Contact Us
                </h1>
                <progress id="form-progress" value="25" max="100"> 25% </progress>
                <h2>
                    Fill in your details below and an expert from our side will get back to you within 48 hours.
                </h2>
                <form method="POST" action="https://formspree.io/f/xgeqbpbl" enctype="multipart/form-data" multistep="true">
                    <form-step>
                        
                    </form-step>
                    <form-step>
                        
                    </form-step>
                </form>
            </div>
        </div>
        <div class="testimonial-content">
            <div class="close-icon" onClick="closePopup()">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.2461 48.7009C8.15649 46.6277 -0.77411 34.3358 1.29909 21.2461C3.37228 8.15649 15.6642 -0.774109 28.7539 1.29909C41.8435 3.37229 50.7741 15.6642 48.7009 28.7539C46.6277 41.8435 34.3358 50.7741 21.2461 48.7009Z" fill="white" stroke="black" stroke-width="2"/>
                <path d="M34.375 34.375L25 25L34.375 15.625" stroke="black" stroke-width="2"/>
                <path d="M15.625 34.375L25 25L15.625 15.625" stroke="black" stroke-width="2"/>
                </svg>
            </div>
            <div class="testimonial-card">
                <div class="card-image">
                    <img class="card-img" src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/card_img1.png?v=1669717469" />
                </div>
                <div class="card-content">
                    <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Shopify_logo.png?v=1669639015" />
                    <p class="testimonial">
                        “ShopTrade builds some of the most beautiful and elegant e-commerce experiences that would delight any user. “
                    </p>
                    <p class="author">
                        Harley Finkelstein
                    </p>
                    <p class="designation">
                        President of Shopify
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function closePopup() {
        console.log("Close popup...")
        document.getElementById("contact-popup").style.display = "none";
        var url = window.location.href;
        window.location.href = url.replace("/#contact-popup", "");
        console.log("new url...", url)
    }
</script>