{%- liquid 
    assign options = block.settings
    assign title = options.title
    assign background = options.background
    assign image = options.image
    assign aspect_ratio = section.settings.image_aspect_ratio 
    assign sizes = 'sizes="(max-width: 250px) 100px"'
-%}


<div class="tech-stack-info">
    <div class="tech-stack-info__title" style="background:{{background}}">{{title}}</div>
    <div class="tech-stack-info__image">
        {% comment %} {%- render 'lazy-image', image: image, sizes: sizes, alt: image.alt, aspect_ratio: aspect_ratio, type: 'background', class: 'tech-stack-info__stack-image', image_class: 'tech-stack-info__media-image' -%} {% endcomment %}
        {% comment %} <img src="{{ image | image_url }}">    {% endcomment %}
    </div>
</div>   