{%- liquid 
    assign options = block.settings
    assign title = options.title
    assign background = options.background
    assign handle = options.handle
-%}


<div class="tech-stack-info">
    {% if block.type == 'text' %}
        <div class="tech-stack-info__title" style="background:{{background}}">
            {{title}}
        </div>
        <div class="tech-stack-info__image">
            <div class="tech-stack-info__img">
                {% for block in section.blocks %}
                    {%- liquid 
                        assign options = block.settings
                        assign image = options.image  
                        assign handle_one = options.handle_one
                    -%}
                    {% if block.type == 'image' and handle == handle_one %}
                        <div class="tech-stack-info__item">
                            {%- render 'lazy-image', image: image, sizes: 'sizes="(max-width: 480px) calc(100vw - 10px), 20vw"', alt: image.alt, ratio: 2.8, type: 'fit', class: 'tech-stack-info__stack-image', image_class: 'tech-stack-info__media-image' -%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>   