
{% for block in section.blocks %}    
{% if block.type == 'text' %}
    {%- liquid 
        assign options = block.settings
        assign title = options.title
        assign background = options.background
        assign handle = options.handle
    -%}

    <div class="tech-stack-info">
        <div class="tech-stack-info__title" style="background:{{background}}">
            {{title}}
        </div>
        <div class="tech-stack-info__image">
            <div class="tech-stack-info__img">
                {% for block in section.blocks %}
                    {%- liquid 
                        assign options = block.settings
                        assign image = options.image  
                        assign handle_one = options.handle_one
                    -%}
                    {% if block.type == 'image' and handle == handle_one %}
                        {% render 'landing-page-block-image' , block:block %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> 
{% endif %}
{% endfor %}
  