@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';

.texh-stack{
    &__wrapper{
       
    }
}


.tech-stack-info{
    border-bottom: 1px solid colors.$black-100;
    @include mixins.grid(4,100px,100px);          
    &__title{
        @include use-text-style('heading-1');
        font-weight: typography.$regular-weight;
        grid-column: span 1;
        padding: 50px; 
        color: colors.$white;

    }
    &__image{
        grid-column: span 3;
    }
}  