@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';


.tech-stack{
    &__mobile{
        display: block;
        @media(--md){
            display: none;  
        }
    }
    &__desktop{
        display: none;
        @media(--md){
            display: block;
        }
    }
}



.tech-stack-info{    
    --setion-top-padding:25px;
    --image-stack-padding: 22px 49px;
    --image-wrap-padding: 40px 30px;

    border-bottom: 1px solid colors.$black-100;       
    @include mixins.grid(2,100px,100px);   
    column-gap: 0;   
    @media(--sm){
        @include mixins.grid(3,100px,100px);  
        column-gap: 0; 
    }   
    @media(--md){
        @include mixins.grid(4,100px,100px);  
        column-gap: 0; 
    }     
    &__title{
        @include use-text-style('heading-2');
        font-weight: typography.$regular-weight;
        font-family: 'Gilroy-bold' !important;
        grid-column: span 1;
        color: colors.$white;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: left;
        @media(--md){
            padding: calc(var(--setion-top-padding)*2);
            @include use-text-style('heading-1');
            font-weight: typography.$regular-weight;
        }
    }
    &__image{
        grid-column: span 3;
        padding: var(--section-margin) !important;
        @media(--sm){
            padding:var(--image-wrap-padding) !important;
        }
    }
    &__img{
        @include mixins.grid(2,100px,100px);  
        column-gap: calc(var(--section-margin)*2);
        row-gap: 10px;
        @media(--sm){
            @include mixins.grid(4,100px,100px);  
            column-gap: calc(var(--nav-vertical-padding)*2);
            row-gap: var(--grid-column-gap);
        }
        @media(--md-large){
            column-gap: 0;
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        @media(--md-large){
            padding: var(--image-stack-padding);
        }
        img{
            object-fit: contain !important;
        }
    }
    &__stack-image{
        flex: 1;
    }
}  