@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'breakpoints';
@import 'Token';

.blog_list_non_sticky {
    display: unset !important;

    sticky-image-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
         align-items: flex-start; 

        @media (min-width: 520px) {
            flex-direction: row;
            gap: 27px;
        }

        @media(--md-large){
            gap: 40px;
        }

        @media (--xlg){
            justify-content: unset;
        }

        .blog-item__image {
            width: 100%;
            border: 1px solid;  
          
            @media(min-width: 520px){
                margin: 0;
                padding: 0;
            }

            @media (--sm) {
                width: 50%;
                flex-direction: row;
                // height: fit-content;
            }
            @media (--md-large) {
                height: 16.25rem;
            }
            @media (--lg){
                max-width: 30rem;
            }
            

            a {
                figure {
                    img {
                        object-position: top;
                        top: -20%;

                        @media (--xs) {
                            top: -25%;
                            object-fit: cover;
                        }
                        
                        @media (min-width: 520px) {
                                top: -14%;
                                object-fit: unset;
                        }

                        @media (--sm) {
                            top: 0;
                            object-fit: cover;
                        }
                        @media (--md-large){
                            top: -19%;
                        }
                        @media (--xlg){
                            top: -22%; 
                        }
                    }
                }
                .non-sticky-blog-image{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .blog-item__text {
            width: fit-content;

            .blog-item__title-holder {
                a {

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        &:hover {
                            text-decoration: underline;
                            transition: 0.3s all ease;
                        }
                    }
                }
            }
            .blog-item__excerpt{ 
                max-width: 100%;
                @media (--md){
                    max-width: 70%;
                }
            }
        }
    }
}