@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/layout';


.media-with-tabs{
    &__section-wrapper {
        
    }
    &__section-content {
        grid-template-columns: 100%;
        display: grid;
        @media(--sm){
            width: 100%;
            overflow: hidden;
            grid-template-columns: 50% 50%;
            grid-template-areas: "text image";
        }
        &-tabs{
            grid-area: text;
        }
        &-card{
            padding: 0;
            height: 100%;
        }
        &-image{
            grid-area: image;
            &__fill{
                margin-inline-start: var(--rich-text-gutter);
                margin-inline-end: var(--rich-text-gutter);
                margin-top: var(--rich-text-gutter);
                margin-bottom: var(--rich-text-gutter) !important;
            }
        }
    }
}
