<section class="joinUs"> 
    <div class="container"> 
        <div class='joinUs__wrp'>
            <h5>Are you the pro we're searching for? <h5>
            <p class='fnt-16'>Partner with a world class agile development team, ready to bring your projects to life. Leverage our 8+ years of experience and jumpstart your business with a team of professionals distributed across the globe. Collectively, we turn ideas into a reality.
            
        </p>
        <a href="" class="btn btn--orange">Contact us</a>
    </div>
    </div>

</section>