<section class="joinUs"> 
    <div class="container"> 
        <div class='joinUs__wrp'>
            <h3> {{ section.settings.heading }}<h3>
            <p class='fnt-20'>{{ section.settings.subheading }}
            
        </p>
        <a href="{{ section.settings.btnlink }}" class="btn btn--orange">{{ section.settings.button_text }}</a>
    </div>
    </div>

</section>


{% schema %}
    {
        "name":"Join us",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type": "text"
            
            },{
                "id":"subheading",
                "label":"sub Heading",
                "type": "text"
            
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text"
            },
            {
                "id":"btnlink",
                "label":"Button link",
                "type":"url"
            }
        ]
    }
{% endschema %}