<section class="workculter">
    <div class='workculter__head'>
        <div class="container">
            <h2 class="h1-main my-60"> {{ section.settings.heading }} </h2>
        </div>
    </div>
    <div class="sliderTop"> 
        <div class="swiper-container js-top-image-slider"> 
            <div class="swiper-wrapper">
                {%- assign topslider = section.blocks | where : 'type' , 'slideTop' -%}
                {%- for block in  topslider -%}
                    <div class="swiper-slide"> 
                        <div class="swiper-slide__wrapper">
                            <img src="{{ block.settings.slideImgRight | image_url }}">
                        </div>
                    </div>
                {%- endfor -%}
              
            </div>
        </div>
    </div>
    <div class="sliderBottom">
        <div class="swiper-container js-bottom-image-slider" dir="rtl"> 
        <div class="swiper-wrapper">
            {%- assign bottomslider = section.blocks | where : 'type' , 'slideBottom' -%}
            {%- for block in  bottomslider -%}
                <div class="swiper-slide"> 
                    <div class="swiper-slide__wrapper">
                        <img src="{{ block.settings.slideImgLeft | image_url }}">
                    </div>
                </div>
            {%- endfor -%}
          
        </div>
    </div>
    </div>
</section>


{% schema %}
    {
        "name":"workCulter",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            }
        ],
        "blocks":[
            {
                "name":"slider top",
                "type":"slideTop",
                "settings":[
                    {
                        "id":"slideImgRight",
                        "label":"slide Image Right",
                        "type":"image_picker"
                    }
                ]
            
            },
            {
                "name":"slide bottom",
                "type":"slideBottom",
                "settings":[
                    {
                        "id":"slideImgLeft",
                        "label":"slide Image Left",
                        "type":"image_picker"
                    }
                ]

            
            }
            
            
           
        
     
        ]
    }
{% endschema %}