<section class="services"> 
    <div class="container">
        <h1 class="h1"> {{ section.settings.heading }}</h1>
        <a href="#contact-us" class="btn btn--orange" id="contact-btn-about">{{ section.settings.btntext }}</a>
    </div>
</section>

{% schema %}
    {
        "name":"banner",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            },{
                "id":"btntext",
                "label":"Button Text",
                "type":"text"
            }
        ]
    }
{% endschema %}