<section class="audit-banner">
    <div class="container">
        <div class="abanner_wrp">    
                <h1 class="heading">{{ section.settings.heading }}</h1>
                <p class="subtext">{{ section.settings.subtext }}</p>
                <a href="{{ section.settings.bannerBtnlink }}" class="audit-btn">{{ section.settings.bannerBtn }}</a>          
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Banner Block",
    "tag": "section",
    "class": "section",
    "settings": [ 
                   {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                    },
                    {
                    "type": "text",
                    "id": "subtext",
                    "label": "Sub text"
                    },
                    {
                    "type":"text",
                    "label":"Button text",
                    "id":"bannerBtn"
                    },
                    {
                    "type":"url",
                    "label":"link",
                    "id":"bannerBtnlink"
                    }
                ],
"presets": [
        {
        "name": "Banner Block"
        }
    ]
}
{% endschema %}
