<section class="audit-marquee">
    <div class="container">
        <div class="heading">{{section.settings.mheading}}</div>
        <div class="Marquee-content">
            {% for i in (1..3) %}
            {% for block in section.blocks %}
            {% if block.settings.mar_image != blank %}
            <img class="mar-image" src="{{block.settings.mar_image | image_url}}" alt="Logo" />
            {%endif%}
            {%endfor%}
            {% endfor %}
        </div>
    </div>
    </div>
</section>

{% schema %}
{
"name": "Marquee Block",
"settings": [
{
"id": "mheading",
"label": "Heading",
"type": "text"
}

],
"blocks": [
{
"name": "Marquee Block",
"type": "cardType",
"settings": [
{
"type": "image_picker",
"id": "mar_image",
"label": "Logo"
}
]
}
],
"presets": [
{
"name": "Marquee Block"
}
]
}
{% endschema %}