<section class="audit-faq">
    <div class="container">
        <h1 class="faq-heading">{{ section.settings.heading }}</h1>
        <div class="accordion">
            {% for block in section.blocks %}
                <div class="accordion__header {% if forloop.index == 1 %} is-active {% endif %}">
                    <h2 class="fques">{{block.settings.question}}</h2>
                    <span class="accordion__toggle">
                        <svg class="{% if forloop.index == 1 %}rotate_svg{% endif %}" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path d="M30.813 18.3462C29.5173 26.5272 21.8348 32.1088 13.6538 30.813C5.47285 29.5173 -0.108758 21.8348 1.18699 13.6538C2.48273 5.47285 10.1652 -0.108758 18.3462 1.18699C26.5272 2.48273 32.1088 10.1652 30.813 18.3462Z" fill="white" stroke="black" stroke-width="2"/>
                        <path d="M22 13L16 19L10 13" stroke="black" stroke-width="2"/>
                        </svg>
                    </span>
                </div>
                <div class="accordion__body {% if forloop.index == 1 %} is-active {% endif %}">
                    <p class="fans">{{block.settings.answer}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "FAQ Block",
"settings": [
{
"id": "heading",
"label": "Heading",
"type": "text"
}

],
"blocks": [
{
"name": "FAQ Block",
"type": "cardType",
"settings": [
{
"type": "image_picker",
"id": "arrow_image",
"label": "Image"
},
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "text",
"id": "answer",
"label": "Answer"
}
]
}
],
"presets": [
{
"name": "FAQ Block"
}
]
}
{% endschema %}