<section class="blogBanner">
    <div class="container">
        <h1 class="h1 my-60">BLogs</h1>
    </div>
    <div class="blogBanner__wrp">
        <div class="blogBanner__img">
        
        </div>
        <div class="blogBanner__info"></div>
    
    </div>
</section>