<section class="work blog-list"> 
  
    <ul class="ourWork__cards ">
        {% for article in blog.articles %}
            <li class="ourWork__card ">
              <a href="{{ article.url }}" style="text-decoration:none">
                
                <div class="ourWork__cardBody">
                    <div class="img-container">
                        <div class="img-wrp">
                            <img class="thumb-img" src="{{ article.image | image_url }}" alt="{{ article.title }} />
                            <div class="btn-wrp">
                            
                        </div>
                    </div>
                    <div class="work-body">

                          <h3 class="mb-0">  {{ article.title }} </h3>
                           
                    </div>
                </div>
              </a>
            </li>
        {% endfor %}
    </ul>
</section>