
<section class="headline_wrapper">
  <div class="headline-content__wrapper container">
    {% if section.settings.banner_title != blank %}
      <h1 class="headline-banner__title">{{ section.settings.banner_title }}</h1>
    {% endif %}
    {% if section.settings.banner_description != blank %}
      <div class="headline-banner__description">{{ section.settings.banner_description }}</div>
    {% endif %}
  </div>
</section>




{% schema %}
{
  "name": "Headline Banner",
  "settings": [
    {
      "type": "text",
      "id": "banner_title",
      "label": "Title",
      "default": "Add a title"
    },
    {
      "type": "richtext",
      "id": "banner_description",
      "label": "Description",
      "default": "<p>Add a description</p>"
    }
  ],
  "presets": [
    {
      "name": "Headline"
    }
  ]
}
{% endschema %}
