{% style %}
    {% if section.settings.border_top %}
        .heading_only_parent{
            border-top: 1px solid #000;
        }
    {% endif %}
    {% if section.settings.border_bottom %}
        .heading_only_parent{
            border-bottom: 1px solid #000;
        }
    {% endif %}
{% endstyle %}


{% if section.settings.heading_only != blank %}
    <div class="heading_only_parent">
        <div class=" heading_only_wrapper container">
            <p>{{ section.settings.heading_only }}</p>
        </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "Title or Heading",
    "settings": [
        {
            "type": "text",
            "id": "heading_only",
            "label": "Title"
        },
        {
            "type": "checkbox",
            "id": "border_top",
            "label": "Enable Border Top",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "border_bottom",
            "label": "Enable Border Bottom",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Title or Heading"
        }
    ]
}
{% endschema %}