<div class="quick-services">
  <div class="quick-services__wrapper swiper-container js-quickServices-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="quick-services__block">
            <div class="quick-services__block-icon">
              {{ block.settings.icon }}
            </div>
            <div class="quick-services__block-content">{{ block.settings.content }}</div>
            <a class="quick-services__block-link" href="{{ block.settings.cta_url | default: "#" }}">
              {{- block.settings.cta_text }}
              <span class="quick-services__block-link-arrow">{% render 'arrow-icon' %}</span></a
            >
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination quick-services__pagination"></div>
</div>

{% schema %}
{
  "name": "Quick Services Section",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "name": "service",
      "type": "block",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Paste Svg Icon"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Text Description",
          "default": "Boost Your Conversion Power with Our Expert-led Audits"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text",
          "default": "Get CRO Audit"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quick Services"
    }
  ]
}
{% endschema %}
