{{ 'landingpage-tech-stack.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign options = section.settings    
    assign heading = options.heading
    assign seo_h_tag = options.seo_h_tag
    assign hide_border = options.disable_section_title_border
-%}

{%- if section.settings.heading != blank -%}
  {%- render 'section-heading', heading: heading, seo_h_tag: seo_h_tag, hide_border: hide_border -%}
{%- endif -%}

<div class="tech-stack">
    <div class="tech-stack__container">
        <div class="tech-stack__wrapper">
            {% for block in section.blocks %}
                {% render 'landing-tech-stack', block: block , section:section%}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Landing page Tech Stack",
    "settings": [ 
          {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.layout_labels.section_heading.label"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.local-extra-words.sections.headings.heading",
      "default": "Tech Stack"
    },
    {
      "type": "select",
      "id": "seo_h_tag",
      "label": "t:sections.refactor_words.seo.label",
      "info": "t:sections.refactor_words.seo.info",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "span",
          "label": "span"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "disable_section_title_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_title_border",
      "default": false
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:raw-extra-words.settings_schema.labels.media_aspect_ratio",
      "options": [
        {
          "value": "1.77777",
          "label": "t:raw-extra-words.settings_schema.aspect_ratio.landscape"
        },
        {
          "value": "1.33333",
          "label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "1",
          "label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
        },
        {
          "value": "0.83333",
          "label": "t:sections.gallery.settings.aspect_ratio.options__3.label"
        }
      ],
      "default": "1"
    }
    ],
    "blocks": [    
        {
            "type": "text",
            "name": "stack",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Heading Background"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image Logo"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Landing page Tech Stack"
        }
    ]
}
{%  endschema %}