{% style %}
.manuel-slide-img-wrapper-parent{
  margin-bottom:{{ section.settings.slide-margin-btm }}px;
}
@media(max-width:768px){
  .manuel-slide-img-wrapper-parent{
  margin-bottom:{{ section.settings.slide-margin-btm-mob }}px;
  }
}
{% endstyle %}
<div class="container">
  <div class="manuel-slide-img-wrapper-parent">
    <div class="manuel-slide-img-wrapper">
      {%- for block in section.blocks -%}
        <div class="manuel-slide-img">
          <img src="{{ block.settings.slide_img_manuel | img_url:'master' }}">
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Manuel Imgies Scroll",
  "settings": [
    {
      "type": "range",
      "id": "slide-margin-btm",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paadding Bottom",
      "default": 1
    },
    {
      "type": "range",
      "id": "slide-margin-btm-mob",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paadding btm Mob",
      "default": 1
    }
  ],
  "blocks": [
    {
      "name": "sliderMauel",
      "type": "sliderMauel",
      "settings": [
        {
          "id": "slide_img_manuel",
          "label": "slide Image Right",
          "type": "image_picker"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Manuel Imgies Scroll"
    }
  ]
}
{% endschema %}
