{% style %}
  .manuel-img-scroll-container-main{
    margin-bottom:{{ section.settings.img-scroll-margin-btm }}px;
  }
  @media(max-width:768px){
    .manuel-img-scroll-container-main{
    margin-bottom:{{ section.settings.img-scroll-margin-btm-mob }}px;
    }
  }
{% endstyle %}

<div class="container">
  <div class="manuel-img-scroll-container-main">
    <div class="manuel-img-scroll-container">
      <div class="grid-item-main-scroll">
        {% for block in section.blocks %}
          <div class="manuel-img-scroll">
            {% if block.settings['manuel-img-scroll'] %}
              <img src="{{ block.settings.manuel-img-scroll | img_url }}">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Imagies scroll manuel",
  "settings": [
    {
      "type": "range",
      "id": "img-scroll-margin-btm",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paadding Bottom",
      "default": 1
    },
    {
      "type": "range",
      "id": "img-scroll-margin-btm-mob",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paadding btm Mob",
      "default": 1
    }
  ],
  "blocks": [
    {
      "name": "Add-Image",
      "type": "blocks",
      "settings": [
        {
          "type": "image_picker",
          "id": "manuel-img-scroll",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Imagies scroll manuel"
    }
  ]
}
{% endschema %}
