<section class="homeMarque">
    <div class="marquee marquee--hover-pause enable-animation">
        <div class="marquee__content">

            {% for block in section.blocks %}
            <div class="Marquee-tag">
                <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/>
                <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" />
            </div>
        {% endfor %}
        </div>
        <div class="marquee__content aria-hidden="true"">
            {% for block in section.blocks %}
                <div class="Marquee-tag">
                    <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/>
                    <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" />
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

{% schema %}
{
    "name":"marguee",
    "blocks":[
        {
            "name":"marquee block",
            "type":"marqueeType",
            "settings": [
                {
                    "type":"image_picker",
                    "label":"doller",
                    "id":"imageDoller"
                },
                {
                    "type":"image_picker",
                    "label":"logo",
                    "id":"imageLogo"
                }
            ]

            
        }
       
    ]
}
{% endschema %}