{{ 'media-with-tabs.css' | asset_url | stylesheet_tag }}

<div class="media-with-tabs__section">
    <div class="media-with-tabs__section-wrapper">
        <div class="media-with-tabs__section-content">
            <div class="media-with-tabs__section-content-tabs">
                {% render 'content-toggle-group', block: block, section: section %}
            </div>
            <div class="media-with-tabs__section-content-image">
                {%- render 'rich-text--image', section: section -%}
            </div>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "Media with tabs section",
  "class": "element--has-section-borders element--no-border-difference mount-rich-text",
  "max_blocks": 9,
  "settings": [
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.layout_labels.section_heading.label"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.local-extra-words.sections.headings.heading",
      "default": "Rich text"
    },
    {
      "type": "select",
      "id": "seo_h_tag",
      "label": "t:sections.refactor_words.seo.label",
      "info": "t:sections.refactor_words.seo.info",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "span",
          "label": "span"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "disable_section_title_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_title_border",
      "default": false
    },
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.labels.media"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.gallery.blocks.image.settings.image.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.local-extra-words.sections.media-with-text-overlay.blocks.video.label"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:raw-extra-words.settings_schema.labels.media_aspect_ratio",
      "options": [
        {
          "value": "2",
          "label": "t:raw-extra-words.settings_schema.aspect_ratio.wide"
        },
        {
          "value": "1.77777",
          "label": "t:raw-extra-words.settings_schema.aspect_ratio.landscape"
        },
        {
          "value": "1.33333",
          "label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "1",
          "label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
        },
        {
          "value": "0.83333",
          "label": "t:sections.gallery.settings.aspect_ratio.options__3.label"
        },
        {
          "value": "0.666667",
          "label": "t:sections.gallery.settings.aspect_ratio.options__4.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:raw-extra-words.settings_schema.labels.media_position_on_desktop",
      "options": [
        {
          "value": "left",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__1"
        },
        {
          "value": "top",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__2"
        },
        {
          "value": "right",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__3"
        },
        {
          "value": "top no-image",
          "label": "t:raw-extra-words.settings_schema.options.hide"
        }
      ],
      "default": "top no-image"
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "label": "t:raw-extra-words.settings_schema.labels.media_position_on_mobile",
      "options": [
        {
          "value": "above",
          "label": "t:raw-extra-words.settings_schema.options.above"
        },
        {
          "value": "below",
          "label": "t:raw-extra-words.settings_schema.options.below"
        },
        {
          "value": "hide",
          "label": "t:raw-extra-words.settings_schema.options.hide"
        }
      ],
      "default": "above"
    },
    {
      "type": "checkbox",
      "id": "image_crop",
      "label": "t:raw-extra-words.settings_schema.labels.fill_height_with_media",
      "info": "t:raw-extra-words.new_schema.media_height_info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "image_overlap",
      "label": "t:raw-extra-words.settings_schema.labels.overlap_media",
      "default": false
    },
    {
      "type": "color",
      "id": "image_overlay",
      "label": "t:raw-extra-words.settings_schema.labels.media_overlay",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "select",
      "id": "media_shape",
      "label": "t:raw-extra-words.settings_schema.labels.media_shape",
      "options": [
        {
          "value": "none",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_0"
        },
        {
          "value": "9999px 9999px var(--brg) var(--brg)",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_1"
        },
        {
          "value": "var(--brg) 9999px 9999px var(--brg)",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_2"
        },
        {
          "value": "var(--brg) var(--brg) 9999px 9999px",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_3"
        },
        {
          "value": "9999px var(--brg) var(--brg) 9999px",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_4"
        },
        {
          "value": "9999px 9999px 9999px 9999px",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_5"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "remove_media_border_radius",
      "label": "t:raw-extra-words.settings_schema.borders.remove.radius",
      "default": false
    },
    {
      "type": "header",
      "content": "t:settings_schema.typography.name"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.image-with-text.settings.text_alignment.label",
      "options": [
        {
          "value": "horizontal-left align-content--vertical-top",
          "label": "t:sections.image-with-text.settings.text_alignment.options__1.label"
        },
        {
          "value": "horizontal-center align-content--vertical-top",
          "label": "t:sections.image-with-text.settings.text_alignment.options__2.label"
        },
        {
          "value": "horizontal-right align-content--vertical-top",
          "label": "t:sections.image-with-text.settings.text_alignment.options__3.label"
        },
        {
          "value": "horizontal-left align-content--vertical-middle",
          "label": "t:sections.image-with-text.settings.text_alignment.options__4.label"
        },
        {
          "value": "horizontal-center align-content--vertical-middle",
          "label": "t:sections.image-with-text.settings.text_alignment.options__5.label"
        },
        {
          "value": "horizontal-right align-content--vertical-middle",
          "label": "t:sections.image-with-text.settings.text_alignment.options__6.label"
        },
        {
          "value": "horizontal-left align-content--vertical-bottom",
          "label": "t:sections.image-with-text.settings.text_alignment.options__7.label"
        },
        {
          "value": "horizontal-center align-content--vertical-bottom",
          "label": "t:sections.image-with-text.settings.text_alignment.options__8.label"
        },
        {
          "value": "horizontal-right align-content--vertical-bottom",
          "label": "t:sections.image-with-text.settings.text_alignment.options__9.label"
        }
      ],
      "default": "horizontal-center align-content--vertical-middle"
    },
    {
      "type": "range",
      "id": "spacing",
      "label": "t:raw-extra-words.settings_schema.labels.spacing",
      "min": -12,
      "max": 60,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "gutter",
      "label": "t:raw-extra-words.sections.vertical-slider.settings.text.text_padding",
      "options": [
        {
          "value": "none",
          "label": "t:raw-extra-words.settings_schema.labels.media_shape_options.option_0"
        },
        {
          "value": "grid-padding",
          "label": "t:raw-extra-words.settings_schema.options.default"
        },
        {
          "value": "large",
          "label": "t:raw-extra-words.settings_schema.options.regular"
        },
        {
          "value": "xlarge",
          "label": "t:raw-extra-words.settings_schema.options.large"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.image-with-text.settings.text_width.label",
      "options": [
        {
          "label": "t:raw-extra-words.settings_schema.options.small",
          "value": "50"
        },
        {
          "label": "t:sections.image-with-text.settings.text_width.options__1.label",
          "value": "70"
        },
        {
          "label": "t:sections.image-with-text.settings.text_width.options__2.label",
          "value": "100"
        }
      ],
      "default": "100"
    },
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.colors.header_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-schemes.name_singular",
      "default": "scheme_1"
    },
    {
      "type": "checkbox",
      "id": "disable_section_bottom_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_section_bottom_border",
      "default": false
    },
    {
      "type": "header",
      "content": "t:raw-extra-words.settings_schema.colors.header_inner"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_card",
      "label": "t:color-schemes.name_singular",
      "default": "scheme_1"
    },
    {
      "type": "checkbox",
      "id": "disable_border",
      "label": "t:raw-extra-words.settings_schema.borders.remove.hide_borders",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_border_radius",
      "label": "t:raw-extra-words.settings_schema.borders.remove.radius",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_padding",
      "label": "t:raw-extra-words.settings_schema.borders.remove.padding_and_border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "add_border",
      "label": "t:raw-extra-words.sections.rich-text.separate_by_border",
      "default": false
    },
    {
      "type": "header",
      "content": "t:local-march-update.labels.dynamic_content.name"
    },
    {
      "type": "checkbox",
      "label": "t:raw-extra-words.settings_schema.labels.hide_section",
      "id": "hide_block_if",
      "default": false
    }
  ],
  "blocks": [
    {
        "type": "text",
        "name": "t:sections.local-extra-words.sections.content-toggles.block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.split-extra-words.settings_schema.headings.title",
            "default": "Question title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "t:sections.faq.blocks.text.settings.text.label",
            "default": "<p>Write a complete answer to the most frequent questions that your customers might have, such as important product information, shipping policies, payment issues or returns.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.faq.blocks.text.settings.image.label"
          }
        ]
    }    
  ],  
  "presets": [
    {
      "name": "Media with tabs section",
      "blocks": [        
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "custom.drawers", "custom.overlay"]
  }
}
{% endschema %}