<section class="newsletter">
  <div class="container">
    <div class="newsletter__wrp">
      <div class="newsletter__head">
        <h3>
          Sign up for our free ecommerce newsletter.
        </h3>
      </div>
      <div class="newsletter__body">
        <div class="newsletter__bodyWrp">
          <div class="form-group">
            <input type="email" placeholder="Enter Your Email ID">
            <button type="submit">
              <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrow-orange.svg?v=1665512744">
            </button>
          </div>
          <p class="newsletter__text">By providing your email, you agree for us to contact you via email with e‑commerce advice. Your data is stored securely and we never pass it on to third parties.</p>
        </div>
      </div>
    </div>
  </div>
</section>