<section class="ourWork">
  <div class="container">
    <div class="ourWork__headContainer">
      <h2 class="h1-main m-0">
        {{ section.settings.heading }}
      </h2>
      <div class="">
        <a href="" class="d-inline-block">
          <img src="{{ 'arrow-icon.png' | asset_img_url}} "/>
        </a>
      </div>

    </div>

  </div>
  <ul class="ourWork__cards">
    {% for block in section.blocks %}
      <li class="ourWork__card">
        <div class="ourWork__cardHead">
          <div class="marquee  enable-animation">
            <div class="marquee__content">


              <div class="Marquee-tag">
                <p>
                 <span class="clr-o">#</span>  Development
                </p>
              </div>
              <div class="Marquee-tag">
                <p>
                 <span class="clr-o">#</span>Headless
                </p>
              </div>

            </div>
            <div class="marquee__content aria-hidden=" true"">

              <div class="Marquee-tag">
                <p>
                 <span class="clr-o">#</span>Development
                </p>
              </div>
              <div class="Marquee-tag">
                <p>
                 <span class="clr-o">#</span>Headless
                </p>
              </div>

            </div>
          </div>
        </div>
        <div class="ourWork__cardBody">
          <div class="img-container">
            <div class="img-wrp">
              <img class="thumb-img" src="{{ block.settings.cardImage | image_url}}"/>
              <div class="btn-wrp">
                <a hrer="" class="btn btn--orange" href="">
                  <div>
                    <img class="w-100 brandLogo" src=" {{ block.settings.cardImageBrand | image_url}}  "/>
                  </div>
                  <div>
                    <img class="btn-arrow" src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/btn-arrow.svg?v=1665478404" alt="arrow"/>

                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </li>
    {% endfor %}

  </ul>
</section>


{% schema %}
  {
    "name": "ourWork",
    "settings": [
      {
        "id": "heading",
        "label": "heading",
        "type": "text",
        "default": "Our Works"
      }

    ],
    "blocks": [
      {
        "name": "cards",
        "type": "cardType",
        "settings": [
          {
            "id": "cardImage",
            "type": "image_picker",
            "label": "Card image"

          }, {
            "id": "cardImageBrand",
            "type": "image_picker",
            "label": "Brand logo"

          }
        ]
      }
    ]
  }
{% endschema %}