<section class="ourPartners">
    <div class="container">
        <h2 class="h1 ourPartners__head mb-0"> {{ section.settings.heading }} </h2>
    </div>

    <div class="ourPartners__logos">
       <ul class="ourPartners__list">


        {%- for block in section.blocks -%}
            <li class="ourPartners__listItem"> 
                <img src="{{ block.settings.partnersLogo | image_url }}">
            </li>
        {%- endfor -%}

            
        </ul>
    </div>
</section>


{% schema %}
    {
        "name":"our parterns",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            }
        ],"blocks":[
            {
                "name":"partners logo",
                "type":"partnersLogo",
                "settings":[
                    {
                        "id":"partnersLogo",
                        "label":"Partners logo",
                        "type":"image_picker"
                    }
                ]
            }
        ]
    }
{% endschema %}