<section class="services"> 
    <div class="container">
        <h1 class="h1"> {{ section.settings.heading }}</h1>
        <a href="" class="btn btn--orange">Contact us</a>

    </div>
</section>

{% schema %}
    {
        "name":"banner",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            }
        ]
    }
{% endschema %}