<section class="showcaseReview">
    <div class="container">
        <div class="showcaseReview__wrp">
            <div class="showcaseReview__rating">
                <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script> 
                <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="45" data-nofollow="true" data-expandifr="true" data-clutchcompany-id="1012274"></div>
            </div>
            <div class="showcaseReview__infoWrp">
                <div class="showcaseReview__info">
                    <h3> {{ section.settings.reviewText }} </h3>
                    <p class="fnt-20 clr-b m-0 fnt-700">{{ section.settings.name }} </p>
                    <p class="fnt-20 m-0 clr-b"> {{ section.settings.company }} </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name":"company review",
        "settings":[
            {
                "id":"reviewText",
                "label":"Review Text",
                "type":"text"
            },
            {
                "id":"name",
                "label":"Name",
                "type":"text"
            },{
                "id":"company",
                "label":"company",
                "type":"text"
            }
        ]
    }
{% endschema %}