<section class="showcaseMarque">
    <div class="marquee marquee--hover-pause enable-animation p-0">
        <div class="marquee__content">


          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>  Development
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Headless
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>  Development
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Headless
            </p>
          </div>

        </div>
        <div class="marquee__content aria-hidden=" true"">

          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Development
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Headless
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Development
            </p>
          </div>
          <div class="Marquee-tag">
            <p>
             <span class="clr-o">#</span>Headless
            </p>
          </div>

        </div>
      </div>
</section>