<section class="showcaseClient"> 
    <div class="container"> 
        <h4 class="h4">{{ section.settings.heading }}</h4>
        <p class="fnt-24 clr-b">{{ section.settings.Subheading }} </p>
        <div class="showcaseClient__img">
            <img class="img-boxshodow img" src="{{ section.settings.image | image_url }}">
        </div>

        <ul class="responsiveImages">
            {%- assign resImage = section.blocks | where : 'type','resposiveImages' -%}

            {%- for block in resImage -%}
                <li class="responsiveImages__item">
                    <img class='img img-boxshodow' src="{{ block.settings.resImg | image_url }}">
                </li>
            {%- endfor -%}
          
        </ul>
    </div>
</section>


{% schema %}
    {
        "name":"client",
        "settings": [
            {
                "id": "heading",
                "label":"Heading",
                "type":"text"
            },{
                "id": "Subheading",
                "label":"Sub Heading",
                "type":"text"
            },{
                "id":"image",
                "label":"Client Image",
                "type":"image_picker"
            }
        ],
        "blocks": [
            {
                "type": "resposiveImages",
                "name": "Responsive images",
                "settings": [
                    {
                        "id":"resImg",
                        "label":"Responsive Image",
                        "type":"image_picker"
                    }
                ]
            }
        ]
        
    }
{% endschema %}