<section class="vedio">
  <div class="container">
    <div class="vedio__wrp">
      <div class="vedio__container">

        <div class="video-player" data-player-type="{% if section.settings.external_video_url contains   'vimeo' %}vimeo{% else %}youtube{% endif %}" data-player-url="{{section.settings.external_video_url}}">
          <div class="preview" data-js="preview">
            <img id="image2" class="vedio__thumbnail" src="{{ section.settings.vedioThumbnailImage | image_url }}"/>
            {% if section.settings.external_video_url != null %}
              <span class="play-icon arrow-btn ">
                <img id="image1" src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/play-icns-arrrow.png?v=1665747322" />
              </span>
            {% endif %}
          </div>
          <div class="aboutUsVideo" data-js="video" data-hidden="true"><div data-js="video-root"></div></div>
          <div class="vedio__info">
            <h2 class="h1-main clr-w m-0">{{ section.settings.videoHeading }}
            </h2>
            <P class="clr-w fnt-20 m-0 desktop-only">{{ section.settings.vedioSubHeading }}
            </P>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</section>

{% schema %}
  {
    "name": "Vedio",
    "settings": [
      {
        "id": "videoHeading",
        "label": "Heading",
        "type": "text"
      }, {
        "id": "vedioSubHeading",
        "label": "Description",
        "type": "text"
      }, {
        "id": "vedioThumbnailImage",
        "label": " Thumbnail Image",
        "type": "image_picker"
      }, { 
        "type": "video_url", 
        "id": "external_video_url", 
        "accept": ["vimeo", "youtube"], 
        "label": "Video URL", 
        "default": "https://player.vimeo.com/video/794041269" 
      }
    ]
  }
{% endschema %}