<script src="https://cdn.shopify.com/s/files/1/0382/4185/files/ajaxinate.js?937" defer></script>


  <section class="work" data-ajax-parent>
    <div class="container">
      <h2 class="work-h1">{{ section.settings.heading }}</h2>
    </div>
    <tabbed-component> </tabbed-component>    
  </section>

{% schema %}
{
  "name": "work",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],

  "presets": [
    {
      "name": "works"
    }
  ]
}
{% endschema %}

