

  .client_project_status {
    font-family: 'Epilogue';
    padding-bottom: 10px;
  }

  .client_project_status .title {
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.03em;
    margin: 36px auto;
    color: #000;
  }

  .client_project_status table:not([class]) {
    table-layout: unset;
    border-collapse: unset;
    border-style: unset;
    box-shadow: unset;
  }

  .client_project_status .table_filter a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-right: 53px;
    text-transform: uppercase;
  }

  .client_project_status .table_filter {
    display: flex;
    flex-direction: row;
  }

  .client_project_status .table_filter a {
    width:fit-content;
  }

  .client_project_status .table_filter .active {
    font-weight: 700;
  }
  .client_project_status .table_filter .active::after {
    background: #ed4e08;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    transition: all 10s linear;
  }

  .client_project_status #projectTable {
    width: 100%;
    border-spacing: 0 14px;
    margin: 45px 0;
    margin-bottom: 14px;
  }
  .client_project_status #projectTable th{
    margin-left: 10px;
  }

  .client_project_status #projectTable tbody {
    display: flex;
    flex-direction: column;
  }

  .client_project_status #projectTable tbody tr {
    background: #ffffff;
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    margin-bottom: 14px;
  }

  .client_project_status #projectTable tbody tr td {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    width: 100%;
    border: none;
    border-top: 1px solid var(--COLOR-BLACK);
    border-bottom: 1px solid var(--COLOR-BLACK);
    border-left: 1px solid var(--COLOR-BLACK);
    display: flex;
  }

  .client_project_status #projectTable tbody tr td:first-child {
    border-radius: 8px 0px 0px 8px;
  }

  .client_project_status #projectTable tbody tr td:last-child {
    border-radius: 0px 8px 8px 0px;
    border-right: 1px solid var(--COLOR-BLACK);
  }

  .client_project_status #projectTable tbody td span * {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }

  .client_project_status #projectTable tbody td span,
  .client_project_status #projectTable tbody .STATUS {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .client_project_status #projectTable tbody td .heading * {
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }

  .client_project_status #projectTable tbody td .heading a {
    letter-spacing: -0.03em;
    text-decoration: none;
    text-decoration-color: transparent;
    position: relative;
  }

  .client_project_status #projectTable tbody td .heading a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #FF7121;
    transform-origin: left; 
     transform: scaleX(0);
    transition: transform 0.3s linear;
  } 
  
  .client_project_status #projectTable tbody td .heading a:hover::after {
    transform: scaleX(0.8); 
    /* width:100%; */
  }
  .client_project_status #projectTable tbody td .heading a:hover img {
      visibility : visible;
  }

  .client_project_status #projectTable tbody td .heading a img{
    transform: rotate(315deg);
    margin: 0 0 5px 5px;
  }

  .client_project_status #projectTable thead tr {
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    align-items: center;
    overflow: hidden;
  }
  .client_project_status #projectTable thead tr {
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
  }

  .client_project_status #projectTable thead tr th {
    width: 100%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    opacity: 0.5;
    border: unset;
    padding: 0px;
  }

  .client_project_status  .Yet_to_start {
    color: #ff985d !important;
  }

  .client_project_status  .In_Progress {
    color: #0400c1 !important;
  }

  .client_project_status  .Completed {
    color: #00933b !important;
  }

  .client_project_status  abbr {
    text-decoration: none;
  }

 .client_project_status .hide{
  cursor: default;

 }

 @media screen and (max-width:1024px){


  .client_project_status #projectTable {
    margin: 52.5px 0;
    margin-bottom: 9.8px;
  }

  .client_project_status .title {
    margin: 52.5px auto;
    line-height: 52px;
  }

  .client_project_status .table_filter a {
    margin-right: 20px;
  }
 }


 @media screen and (max-width:840px){


  .client_project_status #projectTable {
    margin: 30px 0;
    margin-bottom: 7px;
  }

  .client_project_status .title {
    margin: 30px auto;
  }
  .client_project_status #projectTable tbody tr {
    grid-template-columns: 25% 20% 20% 20% 20% 20%;
  }
  .client_project_status #projectTable thead tr {
    grid-template-columns: 25% 20% 20% 20% 20% 20%;
  }
  .client_project_status .set-overflow{
    overflow-x: scroll;
    width: 100%;
    cursor: grab;
   }
   .client_project_status .set-overflow:active{
    cursor: grabbing;
   }
   .client_project_status .set-overflow::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    .client_project_status .set-overflow::-webkit-scrollbar{
      height: 7px;
      background-color: #F5F5F5;
    
    }
    
    .client_project_status .set-overflow::-webkit-scrollbar-thumb{
      background-color: #FF7121;
      height: 5px;
      
    }
              
 }
 @media(max-width:768px){
  .client_project_status #projectTable tbody tr {
    grid-template-columns: 35% 30% 30% 30% 30% 30%;
  }
  .client_project_status #projectTable thead tr {
    grid-template-columns: 35% 30% 30% 30% 30% 30%;
  }

 }

 @media screen and (max-width:560px){

.client_project_status .title{
  font-size: 28px !important;
}


.client_project_status #projectTable {
  margin: 0;
  margin-bottom: 7px;
}

.client_project_status .title {
  margin: 25px auto;
  line-height: 1.1;

}

.client_project_status .table_filter a {
    line-height: 20px !important;
}    

.client_project_status #projectTable tbody td {
    line-height: 150% !important;
  }

  .client_project_status #projectTable tbody td span * {
    margin: 2px;
  }

 .client_project_status .hide{
    overflow: hidden;
  }

}
@media(max-width:375px){
  .client_project_status .table_filter a {
    margin-right: 10px;
  }
}

.client_project_status .tooltip-container {
  position: relative;
  display: inline-block;
}

.client_project_status .tooltip-trigger {
  cursor: pointer;
}

.client_project_status .tooltip {
  position: absolute;
  top: 96%;
  left: 0%;
  display: none;
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  border: 1px solid #FF7121;
  box-shadow: 5px 5px  #888888;
  cursor: default;
  color: #000;
  border-radius: 10px;
  z-index: 9;
}

.client_project_status .tooltip-container:hover .tooltip {
  display: block;
}

.client_project_status .tooltip-container:hover .tooltip-trigger::after{
  content: "";
  position: absolute;
  top: 60%;
  left: 55%;
  border-width: 15px;
  border-style: solid;
  transform: rotate(180deg);
  border-color: #FF7121 transparent transparent transparent;
}