/* Main Conatiner */
.cus_jr .cus_jr_child{
    display: flex;
    flex-direction: row;
}
.cus_jr .cus_jr_child div{
    flex: 1 0 50%;
}
.cus_jr .cus_jr_child div p{
    margin: 0;
}

/* Top Content Blocks */
.cus_jr .cus_jr_child .cus_jr_child_text p {
    font-family: "Epilogue";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    height: 100%;
    line-height: 32px;
    height: auto;
}

/* Bottom Content Blocks */
.cus_jr .content_containerParent{
    display: grid;
    grid-template-rows: initial !important;
    column-gap: 35px;
}
.cus_jr .content_containerParent .content_container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 20px 32px 32px 44px;
    border: 3px solid white;
    border-radius: 8px;

    row-gap: 20px;
}

.cus_jr .cus_jr_child .cus_jr_child_heading p{
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
}

.cus_jr .content_containerParent .content_container .cc_heading{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    text-align: left;
    /* margin-bottom: auto; */
}
.cus_jr .content_containerParent .content_container .cc_description{
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    text-align: left;
    line-height: 32px;
}

.cus_ctaButton{
    font-weight: 600;
    letter-spacing: -0.03em;

    font-size: 20px;
    line-height: 100%;
    border-radius: 47px;
    text-decoration: none;
    padding: 22px 82px !important;
    border-radius: 39px;
    background-color: #FF7121;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.reM .reM_pagination{
    opacity: 0;
}
/* Media Queries */
@media screen and (min-width: 992px) {
    .cus_jr .content_containerParent {
        margin:65px 0px 36px 0px;
    }
}

@media screen and (min-width: 1200px) {
    .cus_jr .cus_jr_parent {
        padding:141px 88px 88px 88px;
    }

    .cus_jr .cus_jr_parent {
        border-radius: 16px;
    }
}

@media screen and (max-width: 1199px){
    /* Top Container */
    .cus_jr_parent{
        padding: 40px 0;
    }
    .cus_jr .cus_jr_child .cus_jr_child_heading p{
        font-size: 32px;
    }
    .cus_jr .cus_jr_child .cus_jr_child_text p{
        font-size: 16px;
    }
    .cus_jr .content_containerParent{
        margin: 48px 0;
        overflow: auto; 
        padding-bottom: 10px;
    }
    .cus_jr .content_containerParent::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    
    .cus_jr .content_containerParent::-webkit-scrollbar
    {
        width: 2px;
        height: 2px;
        background-color: #F5F5F5;
    }
    
    .cus_jr .content_containerParent::-webkit-scrollbar-thumb
    {
        background-color: #FF7121;
        border: 1px solid #FF7121;
    }

    /* Bottom Content */
    .cus_jr .content_containerParent .content_container {
        padding: 24px 24px 29px;
        width: 320px;
    }
    .cus_jr .content_containerParent .content_container svg{
        width: 45px;
        height: auto;
    }
    .cus_jr .content_containerParent .content_container .cc_heading{
        font-size: 20px;
        line-height: 26px;
    }
    .cus_jr .content_containerParent .content_container .cc_description{
        font-size: 16px;
        line-height: 26px;
    }
    .cus_ctaButton{
        padding: 12px 48px !important;
        font-size: 16px;
    }
}

    

@media screen and (max-width: 767px){
    .cus_jr_parent{
        padding: 48px 0;
    }
    /* Top Content */
    .cus_jr .cus_jr_child{
        flex-direction: column;
    }
    .cus_jr .cus_jr_child .cus_jr_child_heading p{
        margin-bottom: 16px;
    }
    .cus_jr .cus_jr_child .cus_jr_child_heading p br{
        display: none;
    }
    .cus_jr .cus_jr_child .cus_jr_child_text p{
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
    }
    /* Bottom Content */
    .cus_jr .content_containerParent{
        grid-template-columns: initial !important;
        margin: 40px 0;
        overflow: unset;
    }
    .cus_jr .content_containerParent .content_container{
        row-gap: 10px;
        width: unset;
    }
    .cus_jr .content_containerParent .content_container:not(:last-of-type){
        margin-bottom: 20px;
    }
    .cus_jr .content_containerParent .content_container .cc_heading br{
        display: none;
    }
    .reM .reM_container .reM_parent .swiper-button-next{
        display: none !important;
    }
    .reM .reM_container .reM_parent .swiper-button-prev{
        display: none !important;
    }
    .reM .reM_pagination{
        width: 100%;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        column-gap: 10px;
    }
    .reM .reM_pagination .swiper-pagination-bullet{
        background: #fff;
        border: 1.5px solid #FF7121;
    } 
    .reM .reM_pagination .swiper-pagination-bullet-active{
        background: #FF7121;
    }
}

@media screen and (max-width: 480px){
    .cus_jr .cus_jr_child .cus_jr_child_heading p{
        line-height: 36px;
        font-size: 24px;
    }
    .cus_jr .content_containerParent .content_container .cc_description {
        line-height: 24px;
    }
}
.audit_atf_section .audit_atf .audit_atf_c .audit_atf_left .cta_parent .cta_classes:hover,.cus_ctaButton:hover{
    filter: brightness(90%);
}