/*!**************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landingpage-tech-stack.scss ***!
  \**************************************************************************************************************************************************************************************************************************************/
.tech-stack__mobile {
  display: block;
}
@media (min-width: 1024px) {
  .tech-stack__mobile {
    display: none;
  }
}
.tech-stack__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .tech-stack__desktop {
    display: block;
  }
}

.tech-stack-info {
  --setion-top-padding:25px;
  --image-stack-padding: 22px 49px;
  --image-wrap-padding: 40px 30px;
  border-bottom: 1px solid #4A4A4A;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: var(--grid-column-gap);
  -webkit-column-gap: var(--grid-column-gap);
     -moz-column-gap: var(--grid-column-gap);
          column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;
  grid-row-gap: var(--grid-row-gap);
  row-gap: var(--grid-row-gap);
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
@media (min-width: 1024px) {
  .tech-stack-info {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 768px) {
  .tech-stack-info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .tech-stack-info {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1024px) {
  .tech-stack-info {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .tech-stack-info {
    grid-auto-rows: minmax(100px, auto);
  }
}
.tech-stack-info__title {
  font-family: "poppins";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Gilroy-bold" !important;
  grid-column: span 1;
  color: #fff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
@media (min-width: 768px) {
  .tech-stack-info__title {
    font-family: "poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .tech-stack-info__title {
    padding: calc(var(--setion-top-padding) * 2);
  }
}
.tech-stack-info__image {
  grid-column: span 3;
  padding: var(--section-margin) !important;
}
@media (min-width: 768px) {
  .tech-stack-info__image {
    padding: var(--image-wrap-padding) !important;
  }
}
.tech-stack-info__img {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: var(--grid-column-gap);
  -webkit-column-gap: var(--grid-column-gap);
     -moz-column-gap: var(--grid-column-gap);
          column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;
  grid-row-gap: var(--grid-row-gap);
  row-gap: var(--grid-row-gap);
  -webkit-column-gap: calc(var(--section-margin) * 2);
     -moz-column-gap: calc(var(--section-margin) * 2);
          column-gap: calc(var(--section-margin) * 2);
  row-gap: 10px;
}
@media (min-width: 1024px) {
  .tech-stack-info__img {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 768px) {
  .tech-stack-info__img {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    -webkit-column-gap: calc(var(--nav-vertical-padding) * 2);
       -moz-column-gap: calc(var(--nav-vertical-padding) * 2);
            column-gap: calc(var(--nav-vertical-padding) * 2);
    row-gap: var(--grid-column-gap);
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .tech-stack-info__img {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1200px) {
  .tech-stack-info__img {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
.tech-stack-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .tech-stack-info__item {
    padding: var(--image-stack-padding);
  }
}
.tech-stack-info__item img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.tech-stack-info__stack-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
