/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/media-with-tabs.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
:root {
  --base-margin: 20px;
  --grid-row-gap: 10px;
  --grid-row-gap-large: 20px;
  --section-content-margin: 16px;
  --section-margin: 20px;
  --section-padding:20px;
  --section-heading-margin: 10px;
  --grid-column-gap: 10px;
  --header-padding: 10px;
  --nav-vertical-padding: 15px;
  --setion-top-padding:25px;
  --image-stack-padding: 22px 49px;
}
@media (min-width: 768px) {
  :root {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
    --header-padding: 18px;
    --base-margin: 40px;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-margin: 40px;
    --section-content-margin: 20px;
    --section-margin: 20px;
    --section-padding:20px;
    --section-heading-margin: 20px;
    --grid-row-gap-large: 20px;
  }
}

.media-with-tabs__section-content {
  grid-template-columns: 100%;
  display: grid;
}
@media (min-width: 768px) {
  .media-with-tabs__section-content {
    width: 100%;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text image";
  }
}
.media-with-tabs__section-content-tabs {
  grid-area: text;
}
.media-with-tabs__section-content-card {
  padding: 0;
  height: 100%;
}
.media-with-tabs__section-content-image {
  grid-area: image;
}
.media-with-tabs__section-content-image__fill {
  margin-left: var(--rich-text-gutter);
  margin-right: var(--rich-text-gutter);
  margin-top: var(--rich-text-gutter);
  margin-bottom: var(--rich-text-gutter) !important;
}
