/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/text-column-image.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
:root {
  --base-margin: 20px;
  --grid-row-gap: 10px;
  --grid-row-gap-large: 20px;
  --section-content-margin: 16px;
  --section-margin: 20px;
  --section-padding:20px;
  --section-heading-margin: 10px;
  --grid-column-gap: 10px;
  --header-padding: 10px;
  --nav-vertical-padding: 15px;
}
@media (min-width: 768px) {
  :root {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
    --header-padding: 18px;
    --base-margin: 40px;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-margin: 40px;
    --section-content-margin: 20px;
    --section-margin: 20px;
    --section-padding:20px;
    --section-heading-margin: 20px;
    --grid-row-gap-large: 20px;
  }
}

.card__image {
  position: relative;
}
.card__image-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FF7121;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  display: none;
}
.card__image-badge span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.spacing--xlarge:hover .card__image-badge {
  display: inline-table;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 500ms;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
