/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/text-with-icons.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
.text_with_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (min-width: 768px) {
  .text_with_icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.text_with_icon_content {
  width: 100%;
}
@media (min-width: 768px) {
  .text_with_icon_content {
    width: 50%;
  }
}
.text_with_icon_content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .text_with_icon_content p {
    width: 392px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}
.text_with_icon_imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column-gap: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  grid-row-gap: 30px;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .text_with_icon_imgs {
    width: 50%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding-top: 0 !important;
    padding-top: initial !important;
    row-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .text_with_icon_imgs {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 60px;
  }
}
.text_with_icon_imgs .icon_img a {
  display: block;
  height: auto;
}
.text_with_icon_imgs .icon_img a img {
  width: 100%;
  height: auto;
}

.horizontal_line {
  border-top: 1px solid #000;
}
