.mission {
    padding: 60px 0;
    border-top: 1px solid var(--COLOR-BLACK);

    &__wrp {
        display: flex;

        @media (max-width:991px) {
            flex-direction: column;

        }
    }

    &__imgContainer,
    &__content {
        flex-basis: 50%;
    }

    &__content {
        border-top: 1px solid var(--COLOR-BLACK);
        border-right: 1px solid var(--COLOR-BLACK);
        border-bottom: 1px solid var(--COLOR-BLACK);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width:991px) {
            height: 408px;
            display: block;
        }
    }

    &__item {
        padding: 85px 34px 70px;

        @media (max-width:991px) {
            padding: 40px 20px;
            // border-bottom: 1px solid var(--COLOR-BLACK);
            border-left: 1px solid var(--COLOR-BLACK);

        }

        &:last-child {
            border-top: 1px solid var(--COLOR-BLACK);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                transform: translateY(-50%);
                top: 0;
                right: 0;
                height: 41px;
                width: 37px;
                background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);

                @media (max-width:991px) {
                    top:-1px;
                    right: 0;
                    width: 20px;
                    height: 22px;
                    background-size: contain;
                }
            }

            &::before {
                @media (max-width:991px) {

                    content: "";
                    position: absolute;
                    transform: translateY(-50%) rotate(180deg);
                    top: -1px;
                    left: 0;
                    width: 20px;
                    height: 22px;
                    background-size: contain;
                    background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
                }
            }

        }

        h3 {
            margin-top: 0;
            margin-bottom: 24px;
            // font-weight: 700;
            // font-size: 24px;
            // line-height: 100%;
            // letter-spacing: -0.03em;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            // line-height: 194%;
            color: var(--COLOR-BLACK);
            @media (max-width:991px) {
                font-size: 16px;
                line-height: 24px;
                
            }
        }
    }
}

.workculter {

    &__head {
        border-bottom: 1px solid var(--COLOR-BLACK);
        border-top: 1px solid var(--COLOR-BLACK);
        margin-bottom: 40px;
    }

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {

        // margin-right: 40px;
        img {
            // width: 520px;
            width: 100%;
            height: 404px;
            object-position: top;
            object-fit: cover;
            border: 1px solid var(--COLOR-BLACK);
            // border-radius: 10px;
        }
    }

    .sliderTop {
        margin-bottom: 40px;
    }
}

.joinUs {
    margin-top: 40px;
    border-top: 1px solid var(--COLOR-BLACK);
    border-bottom: 1px solid var(--COLOR-BLACK);

    &__wrp {
        padding: 40px;
        border-left: 1px solid var(--COLOR-BLACK);
        border-right: 1px solid var(--COLOR-BLACK);
        position: relative;

        &::after {
            position: absolute;
            content: "";
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
            height: 41px;
            width: 37px;
            bottom: -2px;
            right: 1px;
            transform: rotate(-270deg) translateY(-50%);

            @media (max-width:991px) {
                width: 15px;
                height: 17px;
                background-size: contain;
            }
        }

        h5 {
            margin-bottom: 16px;
            margin-top: 0;
        }

        p {
            max-width: 856px;
            width: 100%;
            padding-bottom: 24px;
        }
    }
}

.aboutCount {
    .ourNumbers__cards {
        @media (max-width:991px) {
            margin-top: 20px;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
    }

    .ourNumbers__cardItem {
        padding: 60px 20px;

        @media (max-width:991px) {
            padding: 20px;
        }
    }
}

.about-value {
    margin-bottom: 40px;

    &__header {
        @media (max-width:991px) {
            margin: 40px 0;
            border-top: 1px solid var(--COLOR-BLACK);
            border-bottom: 1px solid var(--COLOR-BLACK);

        }
    }

    &__container {
        border-top: 1px solid var(--COLOR-BLACK);
        border-bottom: 1px solid var(--COLOR-BLACK);

    }

    &__wrp {
        border-left: 1px solid var(--COLOR-BLACK);
        border-right: 1px solid var(--COLOR-BLACK);
    }

    &__vedioWrp {
        padding: 80px;
        border-bottom: 1px solid var(--COLOR-BLACK);

        @media (max-width:991px) {
            padding: 20px;
        }

    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        h5 {
            margin-top: 0;
            margin-bottom: 24px;
        }


    }

    &__card {

        border-left: 1px solid var(--COLOR-BLACK);
        border-right: 1px solid var(--COLOR-BLACK);
        border-bottom: 1px solid var(--COLOR-BLACK);
        flex-basis: 50%;
        padding: 47px 90px 47px 42px;

        @media (max-width:767px) {
            flex-basis: 100%;
            padding: 30px 20px;
            position: relative;
        }

        &:first-child {
            position: relative;

            &::after {
                @media (min-width:768px) {

                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 70px;
                    background-size: 100%;
                    transform: translate(50%, 50%);
                    z-index: 1;
                }
            }


        }

        &:nth-child(odd) {
            @media (min-width:768px) {
                border-right: 0;

            }
        }

        &:nth-last-child(2) {
            @media (min-width:768px) {

                border-bottom: 0;
            }
        }

        &:nth-last-child(1) {
            @media (min-width:768px) {

                border-bottom: 0;
            }
        }

        &::before {
            @media (max-width:767px) {

                content: "";
                position: absolute;
                transform: translateY(-50%) rotate(180deg);
                top: -1px;
                left: 0px;
                width: 20px;
                height: 22px;
                background-size: contain;
                background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
            }
        }

        &::after {
            @media (max-width:767px) {

                content: "";
                position: absolute;
                transform: translateY(-50%);
                top: 0;
                right: 0px;
                width: 19px;
                height: 22px;
                background-size: contain;
                background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
            }
        }

    }

    .vedio__container {
        border-radius: 0;
        border: none;
        // height: auto;
    }
}

.about-team {

    &__img {
        // padding: 95px 120px;
        // border-right: 1px solid var(--COLOR-BLACK);
        position: relative;
        text-align: center;
        // @media (max-width:1280px) {
        //     padding: 60px 20px;

        // }

        @media (max-width:767px) {
            padding: 40px 20px;

        }

        img {
            width: 370px;
            height: 437.31px;
            object-fit: contain;

            @media (max-width:991px) {
                width: 100%;
                height: 282px;
            }

        }



    }

    .js-arrow-right {
        display: inline-block;
        right: -100px;
        cursor: pointer;

        @media (max-width:767px) {
            right: -60px;
        }

        img {
            @media (max-width:991px) {
                width: 43px;
                height: 43px;

            }
        }
    }

    .about-team__imgWrp {
        max-width: 40%;
        position: relative;
        border-right: 1px solid var(--COLOR-BLACK);
        display: flex;
        align-items: center;

        @media (max-width:767px) {
            max-width: 80%;
            // border-bottom: 1px solid var(--COLOR-BLACK);
        }

        &::after {
            position: absolute;
            content: "";
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
            height: 41px;
            width: 37px;
            bottom: -2px;
            right: 2px;
            transform: rotate(-270deg) translateY(-50%);

            @media (max-width:767px) {
                width: 20px;
                height: 24px;
                background-size: contain;
                background-repeat: no-repeat;

            }
        }
    }

    &__contentWrp {
        max-width: 46%;
        border-right: 1px solid var(--COLOR-BLACK);
        position: relative;

        // overflow-y: hidden;
        @media (max-width:767px) {
            max-width: 100%;
            border-top: 1px solid var(--COLOR-BLACK);
             border-right: none;
            overflow: hidden;
        }

        & .js-arrow-right {
            .overlay {
                width: 110%;
                height: 110%;
                position: absolute;
                inset: 0;
                background: #FF985D;
                filter: blur(14px);
                border-radius: 37px;
                display: none;
                z-index: -1;
            }

            &:hover {
                .overlay {
                    display: block;
                }

            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 394px;
            height: 394px;
            right: 0;
            top: -10%;
            background: #FF7121;
            filter: blur(94.5px);
            transform: translate(50%, -50%);

            @media (max-width:767px) {
                top: 0%;
                width: 150px;
                height: 152.66px;
            }

        }

        &::after {
            position: absolute;
            content: "";
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
            height: 41px;
            width: 37px;
            top: -2px;
            right: 2px;
            transform: rotate(270deg) translateY(50%);

            @media (max-width:767px) {
                right: inherit;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg) translateY(50%);
                width: 20px;
                height: 24px;

            }
        }
    }

    &__wrp {
        overflow: hidden;
        display: flex;

        @media (max-width:767px) {
            flex-direction: column;
        }

    }

    &__info {
        max-width: 665px;
        padding: 90px 54px;

        position: relative;

        @media (max-width:991px) {
            padding: 60px 40px;
        }

        h4 {
            margin-bottom: 8px !important;

            @media (max-width:991px) {
                font-size: 24px;
            }
        }

        p {
            font-size: 20px;
            line-height: 32px;
            color: var(--COLOR-BLACK);
        }

        p.m-0.clr-b.mb-40 {
            @media (max-width:991px) {
                font-size: 18px;
            }
        }

        span.fnt-24.fnt-500.m-0.clr-b p {
            @media (max-width:991px) {
                font-size: 16px;
                line-height: 159%;
            }
        }
    }

    .mb-40 {
        @media (max-width:991px) {
            margin-bottom: 20px;
        }
    }

    &__container {
        position: relative;
    }
}

.js-team-slider {
    // @media (max-width:767px) {
    //     margin-right: 100px;
    // }
}

.about-team-members {
    border-bottom: 1px solid var(--COLOR-BLACK);
    margin-bottom: 60px;
    &__card {
        &:nth-child(3n+2) {
            @media (min-width:992px) {
            border-right: 0 !important;
            border-left: 0 !important;}
        }
        &:nth-child(odd) {
            @media (min-width:992px) {
                border-bottom: 1px solid var(--COLOR-BLACK) !important;
                border-top: 0 !important;       
            }
        }
        &:nth-child(even) {
            @media (min-width:992px) {
                border-top: 0 !important;
            }
        }
    }
    &__head {
        @media (max-width:992px) {
            margin-bottom: 40px;
            border-top: 1px solid var(--COLOR-BLACK);
            border-bottom: 1px solid var(--COLOR-BLACK);
        }
    }

    @media (max-width:992px) {
        margin-bottom: 40px;

    }

    &__imgMain {
        width: 100%;
        object-fit: contain;
        object-position: top;
    }

    &__wrp {
        border-top: 1px solid var(--COLOR-BLACK);
        // border-bottom: 1px solid var(--COLOR-BLACK);

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @media screen and (max-width:991px){
             border-right: 1px solid var(--COLOR-BLACK);
             border-left: 1px solid var(--COLOR-BLACK);
            }

        li {
            width: calc(100%/3);
            // border-top: 1px solid var(--COLOR-BLACK);
            border: 1px solid var(--COLOR-BLACK);
            // border-bottom: 0;

            position: relative;

            @media (max-width:991px) {
                width: calc(100%/2);
                border: 0;
                border-bottom:1px solid var(--COLOR-BLACK);
            }

            @media (max-width:767px) {
                width: 100%;
            }

            // &:nth-child(3n) {
            //     @media (min-width:992px) {

            //         border-right: none;
            //     }
            // }

            &:nth-child(odd) { 
                @media (min-width:768px) and (max-width:992px) {
                    border-right: 1px solid var(--COLOR-BLACK) ;
                } 
            }
            
            &:last-child{
                border-bottom: none !important;
            }
            &:not(:nth-child(3n)) {
                &::after {
                    @media (min-width:992px) {

                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 70px;
                        background-size: 100%;
                        transform: translate(50%, 50%);
                        z-index: 1;
                    }
                }

            }

            &:nth-last-child(-n+3) {
                &::after {
                    display: none;
                }
            }

        }
    }

    &__footer {
        border-top: 1px solid var(--COLOR-BLACK);
        padding: 20px 40px;

        h5 {
            margin-bottom: 8px; 
        }
    }

    &__img {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media (max-width:1680px) {
            height: 420px;
        }

        @media (max-width:767px) {
            height: 373px;
        }

        &.nopatch {
            @media (max-width:1689px) {
                height: 347px;
            }
            @media (max-width:991px) {
                height: 359px;
            }
            @media (min-width:1680px) {
                height: 428px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 309.8px;
            height: 303.52px;
            top: 0;
            right: 0;
            background: #FF7121;
            filter: blur(70.5px);
            transform: translate(80%, -80%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.nopatch {
            &::after {
                display: none;
            }
        }
    }


}

.arrow-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 194%;
    text-decoration: none;
    letter-spacing: 0.06em;

    color: #000000;

    img {
        margin-left: 4px;
    }
}

.center-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
}

.center-left {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;

}



.video-player { 
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
  }
  .video-player .image-wrapper,
  .video-player .play {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .video-player .image-wrapper,
  .video-player .image {
    width: 100%;
  }
  .video-player .preview,
  .video-player iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-player [data-hidden=true] {
    display: none; 
  }