.accordion_image_container{
    &.no_border_bottom_for_blocks{
        .accordion_image_content{
            .accordion_image_blocks{
                .accordion_image_block_inner{
                    @media screen and (min-width: 768px){
                        border-bottom: 0;
                    }
                    @media screen and (max-width: 767px){
                        &:nth-child(n + 4){
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .accordion_image_content{
        border-left: 1px solid #000; 
        border-right: 1px solid #000;
        .accordion_image_heading{
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            padding: 34px 26px;
            &:hover{
                cursor: pointer;
            }
            @media screen and (max-width: 767px){
                padding: 18 13;
            }
            span{
                &:first-child{
                    margin-right: 26px;
                    @media screen and (max-width: 767px){
                        margin-right: 15px;
                    }
                }
                &:last-child{
                    font-family: 'Minecraft';
                    color: #FF7121;
                }
            }
            .plus_icon{
                transition: all .5s;
                transform-origin: center;
                &.rotate_plus_icon{
                    transform: rotate(45deg);
                }
            }
        }
        .accordion_image_blocks{
            display: grid;
            grid-template-columns: repeat(5, 20%);
            border-top: 1px solid #000;
            height: auto;
            opacity: 1;
            visibility: visible;
            &.hide_height_on_click{
                height: 0;
                opacity: 0;
                visibility: hidden;
                .accordion_image_block_inner{
                    height: 0;
                    img{
                        height: 0;
                    }
                }
            }
            @media screen and (max-width: 767px){
                grid-template-columns: repeat(3, 33.33%);
            }
            .hide_in_mobile_layout{
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
            .accordion_image_block_inner{
                @media screen and (max-width: 767px){
                    &:not(:nth-child(3n)){
                        border-right: 1px solid #000;
                    }
                }
                @media screen and (min-width: 768px){
                    &:not(:nth-child(5n)){
                        border-right: 1px solid #000 !important;
                    }
                }
                border-bottom: 1px solid #000;
                height: 157px;
                @media screen and (max-width: 767px){
                    height: 84px;
                }
                img{
                    height: 100%;
                    padding: 20px;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}