// 
    @media(max-width:1023px){
        .desktop-showHide{
            display: none !important;
        }

        .mobile-showHide, .mob-time-wrp{
            display: block !important;
        }
       
    }

.audit-timeline{
    .container{
        .wrapper{
            .theading{
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                color: #000000;
                text-align: center;
                margin-top: 60px;
                @media(max-width:1020px){
                    font-size: 36px;
                    line-height: 100%;
                    text-align: left;
                }
            }

            .timeline-container{
                width: 100%;
                height: 100%;
                padding: 50px 0;
                position: relative;
                overflow: hidden;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -1px;
                    width: 10px;
                    height: 110%;
                    background: linear-gradient(#fff -9%, rgba(255, 113, 33, 0) 0%, #FF9254 51.52%, rgba(255, 113, 33, 0) 97%, #fff 8%);
                    z-index: 1;
                }
                .timeline-block{
                    width: -webkit-calc(50% + 8px);
                    width: -moz-calc(50% + 8px);
                    width: calc(50% + 8px);
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -moz-box-pack: justify;
                    justify-content: flex-start;
                    clear: both;
                    
                   
                    .timeline-icon{
                        margin-top: 10px;
                        z-index: 2;
                        margin: 10px 0;

                        .time_icon_left, .time_icon_right{
                        transform: translateY(95%);
                        padding: 10px 0;
                        background: white;
                     }
                    }

                    .timeline-content {
                        padding: 25px 15px;
                        border:1px solid #000000;
                        border-radius: 12px;
                        margin-top: 80px;
                        margin-left: 50px;
                        margin-right: 50px;
                        width: 500px;
                        
                        .time-head-left, .time-desc-left{
                            text-align: left;
                        }

                        .time-head-right, .time-head-left{
                                margin-top: 5px;
                                margin-bottom: 15px;
                                font-family: 'Epilogue';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 28px;
                                line-height: 20px;
                               color: #000000;

                               @media(min-width:700px) and (max-width:1050px){
                                font-size: 22px;
                                line-height: 22px;
                               }

                            }

                        .time-desc-right, .time-desc-left{
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            margin: 0;
                            color: #000000;
                            line-height: 23px;
                            @media(min-width:700px) and (max-width:1023px){
                                font-size: 15px;
                                line-height: 17px;
                               }
                            
                        }
                    }
                    
                }

                .timeline-block-right {
                    float: right;
                    margin-right: 30px;
                }

                .timeline-block-left {
                    float: left;
                    direction: rtl;
                    margin-left: 35px;
                }

            }
            .mob-time-wrp-parent{
                .tabcontent {
                    display: none;
                    padding: 25px 20px;
                    border: 1px solid #000;
                    border-radius: 6px;
                    margin-bottom: 40px;
                  }

                  p{
                      font-size: 16px;
                      color: #000000;
                      line-height: 22px;
                  }
           
            }
            .mob-time-wrp{

               .tab-wrp{
                    height: 20px;
                    position: absolute;
                    width: 100%;
                    transform: translateY(200%);
                    z-index: -1;
                    left:0;
                    background: linear-gradient(270deg, rgba(255, 113, 33, 0) 0%, #FF9254 10.52%, rgba(255, 113, 33, 0) 115%);
                }
                .tab {
                        // padding-bottom: 60px;
                        display: flex;
                        justify-content: space-between;
                        content: "";
                      
                        .tablinks{
                                background-color: inherit;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                padding: 14px 16px;
                                transition: 0.3s;
                                // height: 60px;
                                // width: 60px;
                
                                .active-svg{
                                        display: none;
                                    }
                                &.active{
                                    
                                  .inactive-svg{
                                    display: none;
                                  }

                                  .active-svg{
                                    display: block;
                                  }

                                }
                                svg{
                                    height: 100%;
                                    width: 100%;
                                }
                                
                               
                            
                    }   }
                } 
        }
    }
}

