.audit_atf_section{
    p, h1, h2, h3, h4, h5, h6{
        margin: 0;
        padding: 0;
    }
    .audit_atf{
        .audit_atf_c{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 767px){
                flex-direction: column-reverse;
            }
            @media screen and (max-width: 1199px){
                height: 550px;
            }
            @media screen and (max-width: 767px){
                height: initial;
            }
            .audit_atf_left{
                @media screen and (max-width: 1023px){
                    padding-left: calc(var(--base-margin) + 15px);
                    padding-right: calc(var(--base-margin) + 15px);
                }
                @media screen and (max-width: 767px){
                    flex: 1 0 100%;
                    max-width: 540px;
                    margin: 36px auto;
                    padding: 0 15px;
                }
                @media screen and (max-width: 480px){
                    margin-top: 14px;
                    margin-bottom: 20px;
                }
                padding-left: var(--base-margin);
                padding-right: var(--base-margin);;
                flex: 1 0 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .audit_atf--sH{
                    font-size: 18px;
                    line-height: 150%;
                    margin-bottom: 12px;
                    @media screen and (max-width: 480px){
                        font-size: 14px;
                        letter-spacing: .03rem;
                    }
                }
                .audit_atf--lH{
                    font-weight: 700;
                    font-size: 52px;
                    line-height: 108%;
                    @media screen and (max-width: 1199px){ 
                        font-size: 32px;
                        br{
                            display: none;
                        }
                    }
                    @media screen and (min-width:375px) and (max-width:390px) {
                        br{
                            display: block;
                        }
                    }
                    @media screen and (max-width: 480px){
                        line-height: 36px;
                    }
                }
                .audit_atf--subH{
                    font-size: 20px;
                    line-height: 32px;
                    max-width: 572px;
                    margin-top: 24px;
                    @media screen and (max-width: 1199px){
                        margin-top: 16px;
                    }
                    @media screen and (max-width: 1023px){
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @media screen and (max-width: 767px){
                        max-width: none;
                    }
                }
                .cta_parent{
                    @media screen and (max-width: 1199px){
                        margin-top: 16px;
                    }
                    margin-top: 24px;
                    .cta_classes{
                        font-weight: 500; 
                        font-size: 20px; 
                        line-height: 100%;
                        border-radius: 47px;
                        letter-spacing: -.03em;

                        text-decoration: none;
                        display: inline-block;
                        padding: 22px 82px!important;
                        border-radius: 39px;
                        @media screen and (max-width: 1199px){
                            padding: 12px 48px!important;
                            font-size: 16px;
                        }
                    }
                }
            }
            .audit_atf_right{
                flex: 1 0 50%;
                @media screen and (max-width: 767px){
                    flex: 1 0 100%;
                }
                video{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .audit_atf_rightImages{
                    height: 100%;
                    .desktopImage{
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        @media screen and (max-width: 767px){
                            display: none;
                        }
                    }
                    .mobileImage{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        display: none;
                        @media screen and (max-width: 767px){
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}