.core_wrp{
    .core-heading{
        font-family: 'Epilogue';
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: #000000;
        width:40%;

        @media(max-width:1200px){
            width:100%;
            font-size: 34px;
        }

        @media(max-width:320px){
            width:100%;
            font-size: 24px;
        } 
    }
    .main_page{
        display:flex;
        justify-content: space-between;
        padding-left: 3%;
        padding-top:70px;
        @media(max-width:1200px){
            padding-top: 0;
            overflow-x: scroll;
        }
    }
        .page_container{  
            @media(max-width:767px){
                // width: 51vw;
                // margin-right: 0;
            }  
            @media(min-width:768px) and (max-width:1400px){
                width: 30vw;
            }  
           
            position: relative;
            display: block;
            margin-right: 40px;
            .page{
                    display: inline-block;
                    list-style: none;
                    margin-right: 10px;
                    max-width: 200px;

                    @media(max-width:520px){
                        margin-right: 0;
                        width:173px;
                        padding-right: 40px;
                    }
                    
                    @media(min-width:1680px){
                        max-width: 250px; 
                    }
                    img{
                        width: 100%;
                    }
                .page-name{
                    font-family: 'Epilogue';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #444444;
                    margin-bottom: 90px;
                    @media(max-width:1200px){
                        margin-bottom: 40px;
                        font-size: 12px;
                    }
                }
            }
        }
    
}
