.brands_logo_marquee_main {
    .brands_logo_marquee_head {
        border: none;
        margin-bottom: 40px;
        @media(max-width:768px){
            margin-bottom: 30px;
        }

        .brands_logo_marquee_heading {
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
            padding: 0;
            margin: 0;

            @media(max-width:520px) {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }

    .brands_logo_marquee_wrapper {
        column-gap: 50px;
    @media(max-width:1024px){
        column-gap: 30px;
    }
  
        .brands-logos-slider {
            height: auto !important;
            width: fit-content !important;

            img {
                height: auto;
                width: fit-content;
                object-position: unset;
                object-fit: scale-down;
                border: 0;
            }
        }
    }
}