.btn {
    width: 173px;
    padding: 22px 30px;
    background: #FFFFFF;
    color: var(--COLOR-BLACK);
    border: 2px solid var(--COLOR-BLACK);
    border-radius: 12px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    cursor: pointer;
    letter-spacing: -0.03em;
    transition: .5s ease all;
    margin-left: 15px;

    @media (max-width:991px) {
        font-size: 18px;
        padding: 14px 27px;
    }

    // z-index: 99;
    &--orange {

        &::after {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, #FF985D 0%, #FFFFFF 99.99%, rgba(255, 255, 255, 0) 100%);
            border: 2px solid var(--COLOR-BLACK);
            border-radius: 12px 24px;
            // width: 108%;
            // height: 125%;
            width: 105%;
            height: 115%;
            z-index: -1;
            transition: .5s ease all;
            @media (max-width:991px) {
                height: 122%;
            }
        }

        &:hover {
            width: 180px;
            transition: .5s ease all;

            &::after {
                height: 100%;
                width: 100%;
                // left: 0;
                // right: 0;
                transform-origin: left;
                transition: .5s ease all;

        
            }

            // &::after {
            //     background: #FF7121;
            //     background-size: 100%;
            //     background-position: top;
            //     transition: .5s ease all;

            // }
        }
    }

    &--arrow {
        padding: 18px 20px;
        background-color: var(--COLOR-PRIMARY);

        @media (max-width:991px) {
            padding: 15px;
        }

        img {
            @media (max-width:991px) {
                width: 22px;
                height: 18px;
            }

        }

        &::after {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, #FFFFFF 10.42%, #FF985D 69.79%);
            border: 2px solid #000000;
            border-radius: 10px 18px 12px 19px;
            width: 115%;
            height: 115%;
            z-index: -1;
            transition: .5s ease all;
        }
    }


}


.btn-contact {
    // width: 85px;
    padding: 16px 8px 32px;

    display: inline-block;
    // height: 58px;
    background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/contact-btn.png?v=1665646309");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: .5s ease all;

    @media (max-width:991px) {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        width: 105%;
        height: 90%;
        bottom: 14PX;
        left: 0;
        background-color: var(--COLOR-PRIMARY);
        border: 1px solid var(--COLOR-BLACK);
        border-radius: 10px 6px 11px;
        z-index: -1;
        transition: .5s ease all;
    }

    &:hover {
        transition: .5s ease all;

        // padding: 17px 9px 25px;
        &::after {
            width: 100%;
            height: 80%;
            transition: .5s ease all;

        }
    }
}

.arrow-btn {
    position: relative;
    transition: .5s ease all;

    img {

        @media (max-width:991px) {
            width: 52px;
        }
    }

    &:hover {

        &::after {
            position: absolute;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            background: #FF7121;
            filter: blur(12.5px);
            z-index: -1;
            transition: .5s ease all;
        }
    }
}

.circle-link {
    width: 67.06px;
    height: 67.06px;
    border-radius: 50%;
    border: 1px solid var(--COLOR-BLACK);
    display: flex !important;
    justify-content: center;
    align-items: center;

}

.button-group {
    display: flex;
}

.contact-button {
    font-weight: 500;
    font-size: 24px;
    line-height: 194%;
    letter-spacing: 0.06em;
    padding: 16px 40px;
    color: #000000;
    background-color: transparent;

    @media (max-width:767px) {
        font-size: 16px;
        padding: 8px 20px;
    }

    &.active {
        padding-bottom: 40px;
        background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Union_9dea3fb2-b3bb-4c9d-ae0d-54d70d779fc1.png?v=1666869297");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-weight: 500;
        font-size: 24px;
        line-height: 194%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        border: 1px solid transparent;

        @media (max-width:767px) {
            font-size: 16px;
            padding: 8px 20px 25px 20px;
        }
    }
}

.arrow-o-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FF7121;
    text-decoration: none;
    display: flex;
    align-items: center;

    img {
        margin-left: 8px;
    }
}

.btn-orange {
    padding: 18px 33px;
    background-color: var(--COLOR-PRIMARY);
    border: 2px solid var(--COLOR-BLACK);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}