.collection-showcase__wrapper{

    .collection-title__body{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .CS-title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .CS-description p{
        margin-top: 12px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400;
        color: #000;
    }
  
    .CS-button{
        font-weight: 600;
        font-size: 15px;
        color: #000;
        background: #fff;
        padding: 17px 25px;
        border: 1px solid #000;
        border-radius: 35px;
        text-align: center;
        cursor: pointer;
    }

    @media screen and (min-width: 768px){
        .CS-mobile{
            display: none;
        }
    }
    @media screen and (max-width:767px) {
        .CS-desktop{
            display: none;
        }
        .CS-title{
            font-size: 28px;
            margin-bottom: 8px;
        }
    }
    @media screen and (max-width: 350px){
        .CS-title{
            font-size: 21px;

            svg{
                width: 15px;
                height: 15px;
            }
        }
        .CS-button{
            font-size: 12px;
            padding: 14px 18px;
        }
    }

    .CS-collection__wrapper{

        .ET-delivery-info{     
            justify-content: end;
            padding-right: 20px;
        }
        
        
    }
}