@font-face {
    font-family: Minecraft;
    src: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Minecraft_1.ttf?v=1665556964");
}

@font-face {
    font-family: Roboto;
    src: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Roboto-Regular.ttf?v=1688975248");
}

body {
    font-family: 'Epilogue', sans-serif;
    overflow: hidden;
}

.h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 108% !important;
    letter-spacing: 0.01em;
    color: var(--COLOR-BLACK);

    @media (max-width:991px) {
        font-size: 42px;
    }

    @media (max-width:320px) {
        font-size: 36px;
    }
}

.h4 {}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 920px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }

    @media (min-width: 1600px) {

        max-width: 1530px;
    }

    @media (min-width: 1820px) {

        max-width: 1790px;
    }

}

.field__label,
.platform-type {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 100% !important;

    letter-spacing: -0.03em !important;

    color: rgba(0, 0, 0, 0.39) !important;
}

.article-comment {
    border: 2px solid var(--COLOR-BLACK);
    padding-left: 20px;

    .field__label {
        left: 15px !important;
    }

    .field__input {
        line-height: 28px !important;
        border-bottom: none !important;
    }

    textarea.text-area {
        border-bottom-color: transparent !important;

        &:focus {
            &~.field__label {
                top: 6px !important;
            }
        }
    }

}

.mobile-only {
    @media (min-width:768px) {
        display: none !important;
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.h1-main {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--COLOR-BLACK);
    @media (max-width:991px) {
        font-size: 24px;
    }
    @media (max-width:320px) {
        font-size: 20px;
    }
}

.fnt-micro {
    font-family: Minecraft;
}

.fnt-800 {
    font-weight: 800;
}

.fnt-700 {
    font-weight: 700 !important;
}

.fnt-600 {
    font-weight: 600;
}

//margin 

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

.my-60 {
    margin: 60px 0;

    @media (max-width:991px) {
        margin: 40px 0;
    }
}

.position-relative {
    position: relative;
}


.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//width

.w-100 {
    width: 100%;
}

//color class

.clr-w {
    color: var(--COLOR-WHITE);
}

.clr-b {
    color: var(--COLOR-BLACK) !important;
}

.clr-o {
    color: var(--COLOR-PRIMARY);
}

.text-d-none {
    text-decoration: none;
}

.mb-24 {
    margin-bottom: 24px;
}

//fonts

.fnt-16 {
    font-weight: 300;
    font-size: 16px;
    // line-height: 100%;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #000000;
    text-decoration: none;
}

.fnt-20 {
    font-weight: 400;
    font-size: 20px !important;
    line-height: 32px;

}

.font-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    @media screen and (max-width:520px) {
        font-size: 16px;
        line-height: 27px;
    }
}

.fnt-24 {
    font-weight: 500;
    font-size: 24px;
    line-height: 165%;
    letter-spacing: -0.03em;
    font-family: var(--font-body-family);
}

.fnt-40 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;

    @media (max-width:991px) {
        font-size: 28px;
    }
}

.fnt-48 {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.03em;

    @media (max-width:991px) {
        font-size: 24px;
    }
}

.swiper-container {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.d-lg-none {
    @media (min-width:992px) {
        display: none;
    }
}

.flex-1 {
    flex: 1;
}

.hide-scroll {
    overflow: hidden;
}

// main {
//     padding-top: 118px;

//     @media (max-width:991px) {
//         padding-top: 84px;
//     }
// }

.border-topBottom {
    border-top: 1px solid var(--COLOR-BLACK);
    border-bottom: 1px solid var(--COLOR-BLACK);
}

.mb-40 {
    margin-bottom: 40px;
}

.text-left {
    text-align: left !important;
}

.select-input {
    width: 100%;
    padding: 20px 20px 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    letter-spacing: -0.03em;

    color: #000000;
    border: 0;
    border-bottom: 2px solid var(--COLOR-BLACK);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}


.ml-16 {
    margin-left: 16px;
}

.contact-agree {
    display: flex;
    // align-items: flex-start;

    input[type='checkbox'] {
        width: 20px !important;
        height: 20px;
        margin-right: 20px;
    }

    label {
        line-height: 28px;
        color: var(--COLOR-BLACK)
    }
}

.field__input:not(:placeholder-shown),
.field__input {
    font-family: 'Epilogue', sans-serif !important;
    // height: auto !important;
    padding: 20px 20px 20px 0 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom: 2px solid var(--COLOR-BLACK) !important;
    font-size: 16px;
    letter-spacing: -0.03em !important;

    &:focus,
    &:hover {
        box-shadow: none !important;
        border: 0;
    }
}

.field__label {
    left: 0 !important;
    top: 28px !important;
}

.field__input {
    margin-bottom: 0 !important;

    &:focus {
        &~.field__label {
            top: 0 !important;
        }
    }
}

.field {
    overflow: hidden;


}

.field:after {
    box-shadow: none !important;
    content: "";
    position: absolute !important;
    bottom: 0px;
    transform: translateY(50%);
    right: 0;
    height: 41px;
    width: 37px;
    background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);

}

.page-width--narrow {
    margin-left: 0 !important;
}

@media screen and (min-width: 750px) {
    .page-width--narrow {
        padding: 40px 0rem !important;
    }

}

@media screen and (min-width: 990px) {
    .page-width--narrow {
        max-width: 863px !important;


    }

}

.mr-20 {
    margin-right: 20px;
}

.message-input {
    .field:after {
        display: none;
    }

    .field__label {
        left: 20px !important;


    }

    .field__input {
        height: 244px;
        padding: 28px 20px 40px 20px !important;
        border: 0 !important;
        background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/message.png?v=1666940865");
        background-size: 100% 100%;

        @media (max-width:767px) {
            height: 114px;
        }

        &:focus {
            &~.field__label {
                top: 10px !important;
            }
        }
    }
}

.text-upper {
    text-transform: uppercase;
}

.newsletter-form__field-wrapper {
    .field:after {

        display: none;
    }

    .field__input {
        font-size: 16px;
        padding-right: 40px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        height: auto;
        font-family: 'Epilogue', sans-serif !important;



    }

    label {
        font-size: 16px !important;
        font-family: 'Epilogue', sans-serif !important;


    }

    .field__button {
        width: auto;
    }
}

.contact-btn {
    margin-top: auto;


}

.social-media-icons {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-end;
    background-color: var(--COLOR-WHITE);

    @media (min-width:992px) {
        display: block;
        position: fixed;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);

    }

    img {
        @media (max-width:991px) {
            width: 35px;
            height: 35px;
        }
    }
}

.contact-details {
    p {
        line-height: 168%;
    }
}

.message-input {
    .field {
        margin-top: 32px;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

input::-moz-placeholder {
    opacity: 1 !important;
}

.text-area {
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        /* identical to box height, or 16px */

        letter-spacing: -0.03em;

        color: rgba(0, 0, 0, 0.39);

        opacity: 1 !important;
        visibility: visible !important;
    }
}

.field__input:not(:placeholder-shown) {
    &~.field__label {
        top: 0 !important;
    }
}

.terms-condition {
    p {
        font-size: 24px;
        line-height: 34px;
        color: var(--COLOR-BLACK);

        a {
            color: #000000;
            text-decoration: none;
        }
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--COLOR-PRIMARY);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 1;

    @media (max-width:767px) {
        left: 40%;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


//   .pulse {
//     width: 55px;
//     height: 55px;
//     border-radius: 50px;
//     background: #fbb32f;
//     animation: pulse 1500ms infinite;
//   }
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--COLOR-PRIMARY);
    }

    100% {
        box-shadow: 0 0 0 12px #fbb32f01;
    }
}

.video-container {
    margin-bottom: 20px;
    transition: width 0.2s linear;
    @media (min-width:990px) {
        margin-bottom: 0;
        z-index: 2;
        width: 50%;
        right: 0;
        height: calc(100vh - 20vh);
        position: relative;
        margin-left: auto;
    }

    .js-desktop-video.only-mobile {
        min-width: 360px;
        width: 100%;
        height: 290px;
    }


    .js-desktop-video{
        video {
            display:  none;            
        }        
    }

    

    video {
        object-fit: cover;
    }

    .js-desktop-video.only-mobile {
        video {
            display: none;
        }
    }

    .button-rounded {
        position: absolute;
        bottom: 34px;
        left: 44px;
        cursor: pointer;
        z-index: 2;
        @media(max-width:990px){
            display:  none;
        }
        svg {
            transform: rotate(180deg);
        }

        @media(min-width: 1200px) {
            width: 87px;
            height: 87px;
            text-align: center;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &--expanded {
        width: 100%;

        .button-rounded {
            bottom: 34px;
            left: 74px;
            svg {
                transform: rotate(360deg);
            }
        }
    }
}

.caption-with-letter-spacing {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #000000;
}

.blog-date {
    margin-left: 42px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: #FF7121;
        width: 10px;
        height: 8px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: -24px;
    }
}

.unclickble {
    cursor: not-allowed !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

// hide play button 
*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}


/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.font-70 {
    font-size: 70px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 192, 192, 0.5);
    z-index: 97;
    pointer-events: none;
}

//   

#disqus_thread {
    padding: 20px;
}
.breadcrumb{
    a{
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #999999;
        text-decoration: none;
    }
    span{
        color: #000;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }
}