@font-face {
    font-family: Minecraft;
    src: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Minecraft_1.ttf?v=1665556964");
}


body {
    font-family: 'Epilogue', sans-serif;
}

.h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 108% !important;
    letter-spacing: 0.01em;
    color: var(--COLOR-BLACK);

    @media (max-width:991px) {
        font-size: 42px;
    }
}

.h4 {}

.container {
    max-width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }

}

.field__label,
.platform-type {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 100% !important;

    letter-spacing: -0.03em !important;

    color: rgba(0, 0, 0, 0.39) !important;
}

.article-comment {
    border: 2px solid var(--COLOR-BLACK);
    padding-left: 20px;

    .field__label {
        left: 15px !important;
    }

    .field__input {
        line-height: 28px !important;
        border-bottom: none !important;
    }

    textarea.text-area {
        border-bottom-color:  transparent !important;

        &:focus {
            &~.field__label  {
                top: 6px !important;
            }
        }
    }

}

.mobile-only {
    @media (min-width:768px) {
        display: none !important;
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.h1-main {
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--COLOR-BLACK);

    @media (max-width:1335px) {
        font-size: 56px;
    }
    @media (max-width:991px) {
        font-size: 42px;
    }
}

.fnt-800 {
    font-weight: 800;
}

.fnt-700 {
    font-weight: 700 !important;
}

.fnt-600 {
    font-weight: 600;
}

//margin 

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

.my-60 {
    margin: 60px 0;

    @media (max-width:991px) {
        margin: 40px 0;
    }
}

.position-relative {
    position: relative;
}


.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//width

.w-100 {
    width: 100%;
}

//color class

.clr-w {
    color: var(--COLOR-WHITE);
}

.clr-b {
    color: var(--COLOR-BLACK) !important;
}

.clr-o {
    color: var(--COLOR-PRIMARY);
}

.text-d-none {
    text-decoration: none;
}

.mb-24 {
    margin-bottom: 24px;
}

//fonts

.fnt-16 {
    font-weight: 300;
    font-size: 16px;
    // line-height: 100%;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #000000;
    text-decoration: none;
}

.fnt-20 {
    font-weight: 400;
    font-size: 20px !important;
    line-height: 130%;

}

.fnt-24 {
    font-weight: 500;
    font-size: 24px;
    line-height: 165%;
    letter-spacing: -0.03em;
    font-family: var(--font-body-family);
}

.fnt-40 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;

    @media (max-width:991px) {
        font-size: 28px;
    }
}

.fnt-48 {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.03em;

    @media (max-width:991px) {
        font-size: 24px;
    }
}

.swiper-container {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.d-lg-none {
    @media (min-width:992px) {
        display: none;
    }
}

.flex-1 {
    flex: 1;
}

.hide-scroll {
    overflow: hidden;
}

main {
    padding-top: 130px;

    @media (max-width:991px) {
        padding-top: 92px;
    }
}

.border-topBottom {
    border-top: 1px solid var(--COLOR-BLACK);
    border-bottom: 1px solid var(--COLOR-BLACK);
}

.mb-40 {
    margin-bottom: 40px;
}

.text-left {
    text-align: left !important;
}

.select-input {
    width: 100%;
    padding: 20px 20px 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    letter-spacing: -0.03em;

    color: #000000;
    border: 0;
    border-bottom: 2px solid var(--COLOR-BLACK);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}



.contact-agree {
    display: flex;
    // align-items: flex-start;

    input[type='checkbox'] {
        width: 20px !important;
        height: 20px;
        margin-right: 20px;
    }

    label {
        line-height: 28px;
        color: var(--COLOR-BLACK)
    }
}

.field__input:not(:placeholder-shown),
.field__input {
    font-family: 'Epilogue', sans-serif !important;
    // height: auto !important;
    padding: 20px 20px 20px 0 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom: 2px solid var(--COLOR-BLACK) !important;
    font-size: 16px;
    letter-spacing: -0.03em !important;

    &:focus,
    &:hover {
        box-shadow: none !important;
        border: 0;
    }
}

.field__label {
    left: 0 !important;
    top: 28px !important;
}

.field__input {
    margin-bottom: 0 !important;

    &:focus {
        &~.field__label {
            top: 0 !important;
        }
    }
}

.field {
    overflow: hidden;


}

.field:after {
    box-shadow: none !important;
    content: "";
    position: absolute !important;
    bottom: 0px;
    transform: translateY(50%);
    right: 0;
    height: 41px;
    width: 37px;
    background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/halfDiamand.png?v=1665740888);

}

.page-width--narrow {
    margin-left: 0 !important;
}

@media screen and (min-width: 750px) {
    .page-width--narrow {
        padding: 40px 0rem !important;
    }

}

@media screen and (min-width: 990px) {
    .page-width--narrow {
        max-width: 863px !important;


    }

}

.mr-20 {
    margin-right: 20px;
}

.message-input {
    .field:after {
        display: none;
    }

    .field__label {
        left: 20px !important;
       

    }

    .field__input {
        height: 244px;
        padding: 28px 20px 40px 20px !important;
        border: 0 !important;
        background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/message.png?v=1666940865");
        background-size: 100% 100%;

        @media (max-width:767px) {
            height: 114px;
        }

        &:focus {
            &~.field__label {
                top: 10px !important;
            }
        }
    }
}

.text-upper {
    text-transform: uppercase;
}

.newsletter-form__field-wrapper {
    .field:after {

        display: none;
    }

    .field__input {
        font-size: 16px;
        padding-right: 40px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        height: auto;
        font-family: 'Epilogue', sans-serif !important;



    }

    label {
        font-size: 16px !important;
        font-family: 'Epilogue', sans-serif !important;


    }

    .field__button {
        width: auto;
    }
}

.social-media-icons {
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-end;

    @media (min-width:992px) {
        display: block;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

    }

    img {
        @media (max-width:991px) {
            width: 25px;
            height: 25px;
        }
    }
}

.contact-details {
    p {
        line-height: 168%;
    }
}

.message-input {
    .field {
        margin-top: 32px;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

input::-moz-placeholder {
    opacity: 1 !important;
   }

.text-area {
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        /* identical to box height, or 16px */

        letter-spacing: -0.03em;

        color: rgba(0, 0, 0, 0.39);

        opacity: 1 !important;
        visibility: visible !important;
    }
}

.field__input:not(:placeholder-shown){
    & ~ .field__label {
        top: 0 !important;
    }
}

.terms-condition {
    p {
        font-size: 24px;
        line-height: 34px;
        color: var(--COLOR-BLACK);
    }
}