.shoptrade {
    padding: 36px 0;

    &__nav-list {
        display: flex;
        list-style-type: none;
    }

    .nav-item {
        margin-left: 40px;
        &:last-child {
            @media (min-width:992px) {
                display: none
            }
        }
    }
    .nav-link {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #000000;
        text-decoration: none;

    }
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js-hamberger {
    @media (min-width:992px) {
        display: none
    }
}