.headline_wrapper {
    padding: 100px 0 60px;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 65px;
        background: #FF7121;
        width: 100rem;
        height: 2.5rem;
        filter: blur(45.5px);
    }
}

.headline-content__wrapper {

    .headline-banner__title {
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .headline-banner__description {
        width: 60%;
        line-height: 28px;
        color: #000;
        font-size: 24px;
    }

}