.heading_only_wrapper{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width: 767px){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    p{
        margin: 0;
        font-size: 70px;
        font-weight: 700;
        color: #000;
        @media screen and (max-width:991px) {
            font-size: 52px;
        }
        @media screen and (max-width: 767px){
            font-size: 36px;
        }
    }
}