.homeBanner {
    // padding-top: 100px;
    // padding-bottom: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 72vh;
    display: flex;
    align-items: center;
    @media (max-width:991px) {
        padding: 30px 0 60px;
        height: auto;
        flex-direction: column;
    }

    @media (min-width:1680px) {
        height: 76vh;
    }

    &::after {
        position: absolute;
        content: '';
        width: 394px;
        height: 394px;
        background: #FF7121;
        filter: blur(94.5px);
        left: 0;
        bottom: -52%;
        z-index: -1;
        @media (max-width:991px) {
            width: 170px;
            height: 170px;
        bottom: -20%;

        }
    }

    &__content {
        @media (min-width:1336px) {
            flex-basis: 55%;
        }
    }
    &__wrp {
        display: flex;
        @media (max-width:991px) {
            flex-direction: column-reverse;
            
        }
    }

    &__subText {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 24px;
        margin-top: 0;
        color: var(--COLOR-BLACK);
        @media (max-width:991px) {
            font-size: 18px;
            max-width: 255px;
            // width: 100%;
        }
    }

    &__img {
        width: 550px;
        height: 437.31px;
        object-fit: cover;
        @media (max-width:1335px) {
            width: 470px;
            height: 371.31px;
        }
        @media (max-width:991px) {
            width: 100%;
            height: 276.48px;
            object-fit: contain;
        }
    }

    &__imgWrp {
        @media (min-width:992px) {

        margin-left: 30px;}
    }

    &__imgContainer {
        position: relative;
       
        width: 550px;
        height: 437.31px;
        object-fit: cover;
        @media (max-width:1335px) {
            width: 470px;
            height: 371.31px;
        }
        @media (max-width:991px) {
            width: 100%;
            height: 276.48px;
            margin-bottom: 40px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Subtract.png?v=1667215748");
            background-size: cover;
        }
    }
}

.homeMarque {
    padding-top: 20px;
    padding-bottom: 20px;
    .marquee {
    }

    .swiper-slide {
        width: auto !important;

    }

    .swiper-wrapper{
        -webkit-transition-timing-function:linear !important; 
        -o-transition-timing-function:linear !important;          transition-timing-function:linear !important; 
     }
    .marquee__content {

        @media (min-width:1336px) {
            
            gap: 3rem;
        }

    }
}
  

.h-100 {
    height: 100%;
    width: 100%;
}

.js-video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
