.homeBanner {
    padding: 130px 0;
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        content: '';
        width: 394px;
        height: 394px;
        background: #FF7121;
        filter: blur(94.5px);
        left: 0;
        bottom: -52%;
    }

    &__wrp {
        display: flex;
    }

    &__subText {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 24px;
        margin-top: 0;
        color: var(--COLOR-BLACK);
    }

    &__img {
        width: 550px;
        height: 437.31px;
        object-fit: cover;
    }

    &__imgWrp {
        margin-left: 30px;
    }

    &__imgContainer {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background-image: url("../assets/banner-shape.png");
        }
    }
}