.News_gallary{
    background: #fff;
    padding-top: 75px;
    @media(max-width:1200px){
        padding-top: 50px ;
    }
    @media(max-width:520px){
        padding-top: 32px;
    }
    .neg_contain{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        @media(max-width:520px){
            padding-bottom: 10px;
        }
        .neg_heading{
            h3{
                font-size: 32px;
                font-weight: 600;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0;
                @media(max-width:520px){
                    font-size: 28px;
                    line-height: 36px;
                }
            }
        }
        .neg_contain__slider-arrow{
            .slider-arrow{
                display: flex;
                column-gap: 14px;
                .js-arrow-left-neg{
                    cursor: pointer;
                }
                .js-arrow-right-neg{
                    cursor: pointer;
                }
                    svg{
                        @media(max-width:767px){
                                height: 42px;
                                width: 52px;
                        }
                    }
            }
        }
    }
    .neg_slider{
      padding-bottom: 75px;
   
      @media(max-width:520px){
        padding-bottom: 65px;
      }
        .neg_sliding_images{
            .neg_slide_img{
                cursor: pointer;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    aspect-ratio: 16/15;
                    border: 1px solid #000;
                    border-radius: 8px;
                    @media(max-width:767px){
                        aspect-ratio: 13/15;
                    }
                    @media(max-width:520px){
                        aspect-ratio: 12/15;
                    }
                }
            }
        }
    }
    /* Add appropriate styling to the popup container */
    .popup-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5000;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;

            .popup-image-wrapper{
                width: 80%;
                height: 80%;
                margin: auto;
                overflow: auto;

                    .popup-image {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        animation-name: zoom;
                        animation-duration: 0.6s;                      
                }
                    @keyframes zoom {
                        from {transform: scale(0.1)} 
                        to {transform: scale(1)}
                }
        }
    }
}