.newsletter {
    // padding: 120px 0;
    position: relative;
    overflow: hidden;

    @media (max-width:1199px) {
        padding: 60px 0;
    }

    @media(min-width:1200px){
        padding:0 80px;
    }

    &__wrapper{
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(-80%, -50%);
            width: 394px;
            height: 394px;
            background: #FF7121;
            filter: blur(94.5px);
            display: none;

            @media (max-width:991px) {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(48%, 0%);
            width: 394px;
            height: 394px;
            background: #FF7121;
            z-index: 2;
            filter: blur(67.5px);

            @media (max-width:991px) {
                width: 175.69px;
                height: 175.69px;
                filter: blur(49.5px);
                top:100%;
            }

            @media(min-width:1000px) and (max-width:1199px){
                top: 90%;
                filter: blur(49.5px);
            }
        }
    }
    &__wrp {
        // max-width: 759px;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid #000000;
        border-radius: 10px;
        @media(min-width:1200px){
            display: flex;
            border: 0;
        }
    }

    &__head {        
        position: relative;
        display: flex;
        align-items: center;
        @media(max-width:1200px){
            border-bottom: 1px solid var(--COLOR-BLACK);
            border-top: 1px solid var(--COLOR-BLACK);
        }
        @media(min-width:1200px){
            border-right: 1px solid var(--COLOR-BLACK);
            // width: 50%;
        }
        @media(min-width:1440px){
            width: calc(40% - 15px);
        }
        @media(min-width:1680px){
            width: calc(40% - 18px);
        }
        // &::after {
        //     content: "";
        //     position: absolute;
        //     height: 41px;
        //     width: 37px;             
        //     transform: rotate(270deg) translateY(50%);
        //     background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);
        //     right: 1px;
        //     top: -3px;
        //     @media (max-width:1024px) {
        //         height: 41px;
        //         width: 37px;
        //         background-size: contain;
        //         left: -1px;
        //         bottom: -41.3px;
        //         top: unset;
        //         transform: rotate(180deg) translateY(50%);
        //     }
        //     @media (max-width:991px) {
        //         height: 14px;
        //         width: 15px;
        //         background-size: contain;
        //         left: -4px;
        //         bottom: -14px;
        //         top: unset;
        //         transform: rotate(180deg) translateY(50%);
        //     }
        // }

        h3 {
            color: var(--COLOR-BLACK);            
            font-weight: 800;
            font-size: 40px;
            line-height: 124%;
            letter-spacing: 0.02em;
            margin: 0;            
            @media(min-width:768px) and (max-width:1199px){
                padding: 40px 60px;
            }
            // @media(min-width:1200px){
            //     width: 80%;
            // }
            @media (max-width:991px) {
                font-size: 24px;
                padding: 30px 20px;
            }

            @media (max-width:320px) {
                font-size: 21px;
                padding: 30px 20px;
            }
        }
    }

    &__body {
        padding: 0;
        @media(min-width:1200px){
            width: 90%;
            margin: 80px 0;
        }
        .newsletter-form{
            display: flex;
        }
        button {
            position: static;
            background-color: transparent;
            border: none;
            overflow: visible;
            @media(min-width:1200px){
                position: relative;
            }
        }
        button.btn-wrap{
            .btn{
                // padding: 20px 30px 20px 20px;
                // transition: 0.5s ease all;
                padding: 24px 52px;
                border-radius: 42px;
                background: #FF7121;
                border: 1px solid #000000;
                margin-left: 0;
                // &:hover{
                //     padding-right: 35px;
                // }
                // &:hover::after{
                //     width: 100%;
                //     height: 100%;
                //     transition: 0.5s ease all;
                // }
                // &:after{
                //     position: absolute;
                //     content: "";
                //     right: 0;
                //     bottom: -1px;
                //     background: linear-gradient(180deg, #FF985D 0%, #FFFFFF 99.99%, rgba(255, 255, 255, 0) 100%);
                //     border: 2px solid var(--COLOR-BLACK);
                //     border-radius: 12px 24px;
                //     width: 110%;
                //     height: 120%;
                //     z-index: -1;
                //     transition: 0.5s ease all;
                // }
            }            
            &.mobile_only{
                position: absolute;
                display: block;
                // padding-bottom: 5%;
                @media(min-width:1200px){
                    display: none;
                }

                img{
                    @media(max-width:520px){
                        padding:9% 0;
                    }
                }
            }

            &.news-icon-mob{
                height: auto;
                @media(min-width: 768px) and (max-width:1199px){
                    top: 0;
                    bottom: 0;
                }
            }
            &.desktop_only{
                display: none;
                @media(min-width:1200px){
                    display: block;
                }
            } 

            .news-button-clr{
                color:#fff;
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 100%;
            }           
        }
        .form-group {
            position: relative;
            width: 100%;
            @media(min-width:1200px){
                width: 100%;
            }
            .field{
                @media(max-width:520px){
                    height: 58px;
                    margin-bottom: 10px;
                }
              
              
                .field__input{
                    border: 1px solid #A6A9AB !important;
                    border-radius: 35px;   
                    padding-top: 28px !important;
                    padding-left: 24px !important;
                    padding-bottom: 17px !important;
                    &:focus{
                        // top: 14px !important;
                        border: 1px solid var(--COLOR-BLACK) !important;
                    }

                    @media(max-width:520px){
                        padding-left: 5% !important;
                        padding-bottom: 0 !important;
                        
                    }
                }                
            }
            .field__input:focus ~ .field__label, .field__input:not(:placeholder-shown)~.field__label{
                top: 14px !important;
               
            }
            .field__label{
                left: 24px !important;
                @media(max-width:520px){
                    font-size: 12px  !important;
                    top:22px !important;
                }
            }
        }

        input {
            max-width: 100%;
            width: 100%;
            padding: 18px 0;
            border: 0;
            // border-bottom: 1px solid var(--COLOR-BLACK);
            @media(min-width:1200px){
                max-width: calc(100% - 60px);
            }
            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: -0.03em;
                 color: rgba(0, 0, 0, 0.39);
              
            }
        }
    }

    &__bodyWrp {
        padding: 40px 60px;
        @media(min-width:1320px){
            padding: 0px 2rem;
            padding-right: 0;
            z-index: 2;
            max-width: 660px;
        }
        @media (max-width:991px) {
            padding: 30px 0;
        }
        .newsletter__body_wrapper{
            display: flex;
            justify-content: space-between;
            .form__message{
                font-size: 1rem;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: #010101;
       
        @media(min-width:1200px){
            // max-width: calc(100% - 120px);            
            line-height: 22.2px;
            width: 120%;
        }

        @media(max-width:520px){
            font-size: 12px;
            line-height: 18px;
            width:100%;

        }
    }
}  