.ourWork {
    &__headContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 60px 0;

        @media (max-width:991px) {
            padding: 40px 0;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--COLOR-BLACK);

        .swiper-wrapper {
            @media (min-width:992px) {

                flex-wrap: wrap;
            }
        }
    }

    &__card {

        border-right: 1px solid var(--COLOR-BLACK);
        border-bottom: 1px solid var(--COLOR-BLACK);
        position: relative;
        display: flex;
        flex-direction: column;

        @media (min-width:992px) {
            width: 33.23%;
        }

        @media (min-width:1024px) {
            width: 49.89%;
        }

        @media (min-width:1336px) {
            width: 33.26%;
        }

        &::after {
            content: '';
            position: absolute;
            right: -0.4px;
            bottom: 0;
            background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989");
            background-repeat: no-repeat;
            width: 40px;
            height: 70px;
            background-size: 100%;
            transform: translate(50%, 50%);

            @media (max-width:991px) {
                width: 15px;
                height: 28px;
            }
        }

        &:nth-child(3n),
        &:last-child,
        &:nth-last-child(2),

        &:nth-last-child(3) {
            &::after {
                @media (min-width:1336px) {

                    display: none;
                }
            }
        }

        &:hover {
            .ourWork__cardHead {
                opacity: 1;
            }
        }

    }

    &__cardHead {
        opacity: 0;
        margin-top: 40px;

        p {
            font-family: Minecraft;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0.06em;
            margin: 0;

        }
    }

    &__cardBody {
        padding: 40px 72px 72px 35px;
        // width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        @media (max-width:991px) {
            padding: 20px 45px 60px 20px;
        }


        .img-wrp {
            overflow: hidden;
            // border: 2px solid #000000;
            // border-radius: 10px;
            width: 100%;
            height: 300px;

            @media (min-width:992px) {

                height: 397px;
            }

            @media (min-width:1620px) {
                height: 570px;
            }

            .thumb-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .img-container {

            position: relative;
        }

        .work-body {
            flex: 1;
            display: flex;
            flex-direction: column;

            p {
                flex: 1;
            }
            h3 {
                line-height: 40px;
            }
        }

        .btn-wrp {
            position: absolute;
            bottom: 0;
            left: 60%;
            z-index: 1 !important;
            transform: translate(-15px, 15px);


            @media (max-width:1680px) {
                left: 48%;

            }

            @media (max-width:991px) {
                right: -10px;
            }

            .brandLogo {
                width: 100%;
                height: 26px;
                object-fit: contain;

                @media (max-width:991px) {
                    height: 22px;
                }

                // margin-right: 20px;
            }

            .btn-arrow {
                width: 17px;
                height: 17px;
                margin-left: 20px;
            }

            .btn {
                width: 209px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 14px;

                @media (max-width:991px) {
                    width: 110px;
                }


                &::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(180deg, #FF985D 0%, #FFFFFF 99.99%, rgba(255, 255, 255, 0) 100%);
                    border: 2px solid var(--COLOR-BLACK);
                    border-radius: 12px 24px;
                    width: 104%;
                    height: 110%;
                    z-index: -1;
                    transition: 0.5s ease all;
                }

                &:hover {
                    width: 215px;
                    transition: .5s ease all;

                    @media (max-width:991px) {
                        width: 120px;
                    }

                    &::after {
                        width: 99%;
                        height: 98%;
                        transition: .5s ease all;

                    }
                }

            }
        }
    }

    .img-wrp {
        border-radius: 10px;
        border: 2px solid var(--COLOR-BLACK);
    }
}



.work {
    h1 {
        max-width: 800px;
        width: 100%;
        font-weight: 800;
        font-size: 48px;
        line-height: 124%;
        letter-spacing: 0.02em;
        color: var(--COLOR-BLACK);
    }

    .img-container {
        border-radius: 10px;
        border: 2px solid var(--COLOR-BLACK);
        box-shadow: 10px 10px 60px 0px rgba(187, 184, 184, 1);

    }

    .ourWork__card {
        &:nth-child(odd) {
            .ourWork__cardBody {


                position: relative;

                &::after {
                    @media (min-width:992px) {
                        content: "";
                        position: absolute;
                        right: -0.4px;
                        bottom: 0;
                        background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 70px;
                        background-size: 100%;
                        transform: translate(50%, 50%);

                    }
                }
            }
        }
        &:last-child,
        &:nth-last-child(2):nth-child(odd) {
            .ourWork__cardBody {
                &::after {
                    display: none;
                }
            }
        }
    }

    .img-wrp {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    .work-logo-footer {
        text-align: center;
        padding: 24px 16px 32px;
        border-top: 2px solid #000;
        height: 108PX;

        @media (max-width:991px) {
            padding: 24px 16px 32px;
            height: 94px;
        }
    }

    .ourWork__cards {

        overflow: hidden;



    }

    .img-wrp {
        @media (max-width:991px) {
            height: 318px;
        }
    }

    .ourWork__card {
        @media (max-width:991px) {
            width: 50%;
        }

        @media (max-width:767px) {
            width: 100%;
        }

        &::before {
            @media (max-width:991px) {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
                background-repeat: no-repeat;
                width: 15px;
                height: 28px;
                background-size: 100%;
                transform: translate(-50%, 50%);
            }
        }
    }

    .btn {
        // width: auto !important;
    }

    .btn-arrow {
        margin-left: 0;
    }

    .ourWork__cardBody {
        padding: 30px 84px 54px 54px;

        @media (max-width:991px) {
            padding: 40px 62px 66px 40px;
        }
    }

    .brandLogo {
        object-fit: contain;

    }

    .btn-wrp {
        left: 90%;
    }
}

.btn-arrrow-work {
    width: 34px;
    height: 28px;
}

.work-h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 124%;
    letter-spacing: 0.02em;
    color: var(--COLOR-BLACK);
    max-width: 806px;
    width: 100%;

    @media (max-width:991px) {
        font-size: 36px;
    }
}