.product {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-top: 1px solid #000;

        }

        li:not(:last-child) {
            .product__listImg {
                position: relative;

                &::after {
                    @media (min-width:768px) {
                        content: "";
                        position: absolute;
                        right: -0.4px;
                        bottom: 0;
                        background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 70px;
                        background-size: 100%;
                        transform: translate(50%, 50%);

                    }

                }
            }
        }
    }

    &__listWrp {
        @media (min-width:768px) {

            display: flex;
        }

    }

    &__listImgWrp {
        border: 2px solid #000000;
        border-radius: 10px;
        width: 100%;
        // width: 100%;
        overflow: hidden;

        @media (min-width:768px) {
            width: 300px;

        }
        @media (min-width:992px) {
            width: 410px;

        }
    }

    .img-product {
        width: 100%;
        object-fit: cover;
    }

    &__listImg {
        padding-top: 40px;

        @media (min-width:768px) {
            padding: 48px 42px 48px 0;
            border-right: 1px solid var(--COLOR-BLACK);
        }

        @media (min-width:992px) {

            padding: 77px 60px 77px 0;
        }
    }

    &__footer {
        text-align: center;
        padding: 44px 40px;
    }

    &__listContent {
        padding-top: 24px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;

        @media (min-width:768px) {
            padding: 25px;


        }
        @media (min-width:992px) {
            padding: 50px;


        }

        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: -0.03em;
            margin-top: 0;
            margin-bottom: 0;
        }

        .fnt-24 {
            margin-top: 16px;
            margin-bottom: 34px;

            @media (min-width:768px) {
                margin-top: 24px;

                margin-bottom: 48px;
            }
        }
    }
}