.product-showcase__wrapper{
    padding: 60px 15px;

    .ps__content-wrap{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .ps__block{
        border: 1px solid #000;
        border-radius: 8px;
        overflow: hidden;
        flex-wrap: wrap;
    }
    .ps__title{
        font-size: 21px;
        font-weight: 700;
        color: #000;
        border-bottom: 1px solid black;
        padding: 15px 20px;
        background: #F5F5F5;
    }
    .ps__description{
        padding: 25px;
        font-size: 20px;
        font-weight: 400;
        color: black;
        line-height: 26px;
    }
    .ps__price{
        padding: 0 0 30px 20px;
        font-size: 38px;
        font-weight: 700;
        color: #000;
    }
    .ps__price span{
        font-size: 24px;
        font-weight: 400;
    }
    .ps__features{
        border-top: 1px solid #000;
    }
    .ps__features ul{
        padding:0 20px;

    }
    .ps__features ul li {
        display: flex;
        align-items:center;
        font-size: 18px;
        padding-bottom: 30px;
    }
    .ps__button{
        margin: 0 20px 20px 20px;
        padding: 17px 25px;
        background: #3A4ED4;
        color: #fff;
        border-radius: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
    .ps__features ul li::before {
        content: url(../assets/check-mark.svg);
        width: 42px;
        height: 42px;
        margin-right: 10px; 
    }

    @media(max-width:1399px){
        .ps__content-wrap{
            gap: 20px;
        }
        .ps__features ul li {
            padding-bottom: 18px;
        }
    }

    @media (max-width:1024px) {
        .ps__content-wrap{
            flex-direction: column;  
        }    
        .ps__description{
            display: none;
        }
        .ps__price{
            margin-top: 30px;
        }
    }
}