.product-multicolumn {
    padding: 80px 0 75px 0;
    border-top: 1px solid #000;
    @media(max-width:991px){
        padding: 47px 0 45px 0;
    }
    @media(max-width:520px){
        padding: 27px 0 37px 0;
    }
    .product-multicolumn_heading {
        h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            margin-bottom: 17px;
            @media(max-width:520px){
                font-size: 28px;
            }
        }
    }

    .product_multicolumn-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        @media(min-width:1440px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width:389px){
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        }

        .product_tabel {
            border: 1px solid #000;
            border-radius: 8px;
            padding: 60px 40px;

            @media(min-width:768px) and (max-width:1200px) {
                padding: 40px 20px;
            }
            @media(max-width:389px){
                padding: 40px 20px;
            }
            .product_tabel_number {
                color: #FF7121;
                font-size: 32px;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;
                @media(max-width:520px){
                    font-size: 28px;
                }
            }

            .product_table_heading {
                h3 {
                    color: #000;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin: 0;
                    margin-top: 5px;
                    @media(max-width:520px){
                        font-size: 28px;
                        line-height: 37px;
                    }
                }
            }
            .product_table_para {
                p {
                    color: #000;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin: 0;
                    margin-top: 14px;
                    @media(max-width:520px){
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}