.reM{
    .reM_container{
        .reM_parent{
            .swiper-button-prev , .swiper-button-next{
                display: block !important;
                width: 70px;
                height: 70px;
                background-size: 70px 70px;
                @media screen and (max-width: 1199px){
                    width: 40px;
                    height: 40px;
                    background-size: 40px 40px;
                }
            }
            .swiper-button-next{
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='74' height='59' viewBox='0 0 74 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M44.5924 1C60.2784 1 73 13.7618 73 29.5031C73 45.2441 60.2787 58 44.5924 58H29.4076C13.7216 58 1 45.2375 1 29.4962C1 13.7552 13.7213 1 29.4076 1H44.5924Z' fill='white' stroke='black' stroke-width='2'%3e%3c/path%3e%3cpath d='M20 29.0909H54.1302M40.0906 15L54.2327 29.1421L40.0906 43.2843' stroke='black' stroke-width='2'%3e%3c/path%3e%3c/svg%3e");
            }
            .swiper-button-prev {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='74' height='59' viewBox='0 0 74 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M29.4076 58C13.7216 58 1 45.2382 1 29.4969C1 13.7559 13.7213 0.999995 29.4076 0.999996L44.5924 0.999997C60.2784 0.999999 73 13.7625 73 29.5038C73 45.2448 60.2787 58 44.5924 58L29.4076 58Z' fill='white' stroke='black' stroke-width='2'%3e%3c/path%3e%3cpath d='M54 29.9091L19.8698 29.9091M33.9094 44L19.7673 29.8579L33.9094 15.7157' stroke='black' stroke-width='2'%3e%3c/path%3e%3c/svg%3e");
            }
            .rm-slider{
                .swiper-slide{
                    height: auto !important; 
                    border-radius: 16px;
                    border: 1px solid #000;
                    &.swiper-slide-active{
                        background-color: #FF7121;
                        color: white;
                        .swiper-slide__wrapper{
                            @media screen and (max-width: 480px){
                                color: white;
                                background-color: #FF7121;
                                // width: calc(95% - 42px);
                                // border: 1px solid black;
                                border-radius: 16px;
                                padding: 48px 16px;
                            }
                        }
                    }
                    .swiper-slide__wrapper{
                        @media screen and (max-width: 1199px){
                            padding: 80px 16px;
                        }
                        @media screen and (max-width: 1023px){
                            padding: 50px 16px;
                        }
                        // @media screen and (max-width: 480px){
                        //     padding: 30px 0;
                        // }
                        padding: 100px 16px;
                        @media screen and (max-width: 480px){
                            // width: calc(95% - 42px);
                            border-radius: 16px;
                            padding: 48px 16px;
                        }
                            height: auto !important;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;
                            margin: 0 auto;

                            row-gap: 36px;
                        .reM_block1{
                            font-size: 32px;
                            font-weight: 800;
                            line-height: 36px;
                            @media screen and (max-width: 1199px){
                                font-size: 24px;
                                line-height: 130%;
                            }
                            @media screen and (max-width: 1023px){
                                font-size: 20px;
                            }
                        }
                        .reM_block2{
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 38.4px;
                            @media screen and (max-width: 1199px){
                                font-size: 18px;
                            }
                        }
                        .reM_block3{
                            font-size: 18px;
                            line-height: 150%;
                            @media screen and (max-width: 1199px){
                                font-size: 16px;
                            }
                        }
                        p{
                            max-width : 575px;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
            .rm_audit_pagination{
                @media screen and (min-width: 481px) {
                    display: none;
                }
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                justify-content: center;
                margin-top: 32px;
            }
        }
    }
}