.services-marquee-wrap {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background: #000;
    .swiper-container {
        .swiper-wrapper {
            transition-timing-function: linear;        
            .swiper-slide {
                display: flex;
                align-items: center;
                border-right: 1px solid #000;
                width: fit-content;
                background: #fff;
                position: relative;                
                max-width: 432px;
                height: 135px;
                // &:not(:first-child) {
                //     &:after{
                //         position: absolute;
                //         content: "";
                //         top: -2px;
                //         right: 2px;
                //         height: 41px;
                //         width: 37px;
                //         z-index: 9;
                //         transform: rotate(-90deg) translateY(50%);
                //         background-image: url('https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934');
                //     }
                // }
                
                .service-icon {
                    padding: 50px;
                }
        
                .service-name {
                    padding: 40px 20px;
                    position: relative;
                    &:before{
                        content: '';
                        border-left: 1px solid #000;
                        position: absolute;
                        height: 100vh;
                        top: -15px;
                        left: -1%;
                    }
                    p{
                        font-family: 'Minecraft';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        margin: 0;
                        line-height: 30px;
                        color: #000000;
                    }
                }
            } 
        }
    }  
    .scrolling-text{
        overflow: hidden;
        .scrolling-text__wrapper {
            display: grid;
            grid: auto / auto-flow max-content;
        }
    }
    .scrolling-text--auto .scrolling-text__text{
        animation: translateServiceFull var(--marquee-animation-duration, 0s) linear infinite;
    }
}
@keyframes translateServiceFull {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(calc(-100% * 4) );
    }
}