.ourServices.ourServices__no_border {
    .ourServices__wrp {
        border-bottom: 0;
    }
}

.services-cloumnLayout-outer {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    flex-direction: row;
    
    &:hover {
        & .flip-icon svg{
            animation: rotate 3s infinite;
          }
          @keyframes rotate {
            0% {
                transform: rotateY(0deg);
            }
            50% {
                transform: rotateY(180deg);
            }
        }
    }
    &:last-child {
        border-bottom: 0;
    }

    &.flexDirectionRight {
        flex-direction: row-reverse;

        @media(max-width:768px) {
            flex-direction: column;
        }
    }

    @media(max-width:768px) {
        flex-direction: column;
    }

    &:last-child {

        .services-columnLLayout1,
        .RightbottomColorGradient {
            &::after {
                display: none;
            }
        }
    }

}


.services-columnLLayout1 {
    border-right: 1px solid #000000;
    position: relative;
    border-bottom: 0;
    width: 100%;

    // @media(min-width:768px) and (max-width:991px) {
    //     border-right: 0px;
    // }

    @media screen and (max-width:768px) {
        border: 0 !important;
    }

    @media(min-width: 769px) {
        width: 50%;
    }


    &:after {
        @media(min-width:769px) {
            content: "";
            position: absolute;
            right: -0.4px;
            bottom: 0;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
            background-repeat: no-repeat;
            width: 40px;
            height: 70px;
            background-size: 100%;
            transform: translate(50%, 50%);
        }
    }

    .service_left_layout {
        overflow: hidden;
        position: relative;
        height: 100%;
        border-bottom: 1px solid #000;

        @media(min-width: 769px) {
            border-bottom: 0;
        }

        @media(min-width:1200px) {
            height: 100%;
            border-bottom: 0;
        }

        @media screen and (min-width: 1024px) {
            min-height: 40vh;
        }

        &::after {
            position: absolute;
            content: "";
            width: 21rem;
            height: 12rem;
            background: #FF7121;
            filter: blur(83.5px);
            right: 0;
            bottom: 0;
            transform: translateX(18%);

            @media (min-width:0px) and (max-width:320px) {
                transform: translateX(-67%);
                width: 13rem;
                height: 5rem;
                filter: blur(54.5px);
            }

            @media(max-width:767px) {
                transform: translateX(18%);
                width: 10rem;
                height: 8rem;
            }

            @media(min-width:768px) {
                transform: translateX(70%);
            }

            @media(min-width:1024px) {
                transform: translateX(40%);
            }

        }
    }
}


.RightbottomColorGradient {
    border-right: 0;

    .service_left_layout {
        overflow: hidden;

        @media(max-width:767px) {
            border-bottom: 1px solid #000;

        }

        @media(min-width:769px) {
            border-bottom: 0;
            border-left: 1px solid black;
        }

        @media(min-width:1200px) {
            border-bottom: 0;
            border-left: 1px solid #000;
        }

        &::after {
            position: absolute;
            content: "";
            width: 21rem;
            height: 12rem;
            background: #FF7121;
            filter: blur(83.5px);
            right: 0;
            bottom: 0;
            transform: translateX(-128%);

            @media (min-width:0px) and (max-width:320px) {
                transform: translateX(-67%);
                width: 13rem;
                height: 5rem;
                filter: blur(54.5px);
            }

            @media (min-width:321px) and (max-width:767px) {
                transform: translateX(-125%);
                width: 13rem;
                height: 8rem;
                filter: blur(64.5px);
                border-bottom: 1px solid #000;
                border-left: 0;
                border-right: 1px solid #000;
            }

            @media(min-width:768px) {
                height: 9rem;
                transform: translateX(-145%);
            }

            @media(min-width:1024px) {
                transform: translateX(-88%);
            }

            @media(min-width:1440px) {
                transform: translateX(-125%);
            }

        }
    }

    &:after {
        @media(min-width: 769px) {
            content: "";
            position: absolute;
            left: -2.5rem;
            bottom: 0;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
            background-repeat: no-repeat;
            width: 40px;
            height: 70px;
            background-size: 100%;
            transform: translate(50%, 50%);
        }
    }

}

.services-section-number-outlineStroke {
    align-items: flex-start;
    float: left;
    padding: 2rem;
    padding-right: 1rem;
    -webkit-text-stroke: 1px #FF7121;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    font-size: 6rem;
    font-weight: 900;

    @media(max-width:768px) {
        padding: 0.9rem;
        font-size: 3.7rem !important;
    }

    @media(max-width:1024px) {
        font-size: 4.55rem;
        padding: 1rem;
    }

    @media screen and (min-width: 1441px) {
        padding: 1.2rem 1rem 2rem 2rem;
        font-size: 4rem;
    }

    img,
    svg {
        @media screen and (min-width:1441px) {
            display: block;
            height: 52px;
        }
    }
    img,
    svg {
        @media screen and (max-width:1023px) {
            display: block;
            height: 68px;
        }
    }

    img,
    svg {
        @media screen and (max-width:890px) {
            display: block;
            height: 56px;
        }
    }

}

.servicesSectionStrokeFill {
    align-items: flex-start;
    float: left;
    padding: 2rem;
    padding-right: 1rem;
    -webkit-text-stroke: 1px #FF7121;
    -webkit-text-fill-color: #FF7121;
    -webkit-text-stroke-width: 2px;
    font-size: 6rem;
    font-weight: 900;

    @media(max-width:768px) {
        padding: 0.9rem;
        font-size: 5.1rem;
    }

    @media(max-width:1024px) {
        font-size: 4.55rem;
        padding: 1rem;
    }
}

.services-block-heading {
    align-items: flex-start;
    float: left;
    font-family: Epilogue;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: 2.2rem;
    color: #000000;
    width:50%;

    @media(max-width:768px) {
        margin-top: 1.2rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    @media(min-width:768px) {
        margin-top: 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    @media(min-width:1025px) and (max-width:1440px) {
        margin-top: 2rem;
        font-size: 2.3rem;
        line-height: 2.7rem;
    }
}


.services_block_icon {
    top: 35%;
    position: absolute;
    margin: auto;
    left: 35%;
    transform: translate(-4%, -3%);
    text-align: center;

    @media screen and (min-width: 769px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    @media(min-width: 320px) and (max-width:375px) {
        position: relative;
        margin: auto;
        transform: translate(-35%, -15%);
    }

    @media(min-width: 376px) and (max-width:424px) {
        position: relative;
        margin: auto;
        transform: translate(-62%, -6%);
    }

    @media screen and (max-width:768px) {
        position: relative;
        transform: translate(0, 0);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        svg {
            width: 100%;
        }
    }

    @media(min-width:769px) {
        margin: unset;
        transform: translate(-26%, -9%);
    }

    @media(min-width:1024px) {
        transform: translate(-2%, -23%);
    }

    @media(min-width:1200px) {
        text-align: unset;
    }

    @media(min-width:1440px) {
        transform: translate(-5%, -12%);
    }

    svg {
        @media screen and (max-width: 768px) {
            display: inline-block;
            width: 100% !important;
            height: 120px !important;
            margin-bottom: 30px;
        }
    }

    svg,
    img {
        @media screen and (min-width: 1200px) {
            width: 211px !important;
        }

        width: 120px;

        @media(min-width:767px) {
            width: 160px;
        }

        @media(min-width:1200px) {
            width: auto;
        }
    }
}

.services-block-images {
    top: 35%;
    position: absolute;
    margin: auto;
    left: 35%;
    width: 50%;
    height: 50%;
    transform: translate(-4%, -3%);

    @media(max-width:767px) {
        position: relative;
        margin: auto;
        width: 50%;
        height: 50%;
        transform: translate(-62%, -6%);
    }
}


.services-columnLLayout2 {
    // padding: 3rem;
    min-height: 30rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 598px;
    padding-bottom: 8px;

    // border-right: 1px solid black;
    @media screen and (max-width:980px) {
        height: 450px;
        // padding: 1.7rem;
    }

    @media screen and (max-width: 768px) {
        min-height: fit-content;
        height: 300px;
        // padding: 3rem 2rem;

        &::before {
            content: "";
            position: absolute;
            left: -1rem;
            bottom: 0;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
            background-repeat: no-repeat;
            width: 15px;
            height: 27px;
            background-size: 100%;
            transform: translate(50%, 50%);
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/doller.svg?v=1668168989);
            background-repeat: no-repeat;
            width: 15px;
            height: 27px;
            background-size: 100%;
            transform: translate(50%, 50%);
           
        }
    }

 

    @media(max-width:767px) {
        border-right: 0;
        
    }

    @media(min-width: 769px) {
        width: 50%;
    }

    @media(min-width:1440px) {
        min-height: 35rem;
    }

    @media screen and (min-width: 769px) {
        min-height: auto !important;
    }
    .center-items {
        overflow-y: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        &::-webkit-scrollbar-thumb{
             background-color: #6b6969;
             border: 2px solid #838080;
             border-radius:17px;
         } 
         &::-webkit-scrollbar{   
             width: 5px;
             border-radius: 10px;
             background-color: #F5F5F5;
          }
          &::-webkit-scrollbar-track{
             -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
             background-color: #F5F5F5;
             border-radius: 10px;
         }
         @media screen and (max-width:980px) {
            padding:1.7rem; 
         }
    }
}

.container.position-relative {
    .services-cloumnLayout-outer:last-child {
        .services-columnLLayout2 {
            &::after,
            &::before {
                display: block;
            }
        }
    }

    @media (max-width: 768px) {
        .services-cloumnLayout-outer:last-child {
            .services-columnLLayout2 {

                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
}


// .container.position-relative {
//     .services-columnLLayout2 {
//       &:nth-child(even) {
//         border-right: 10px solid rgb(223, 6, 6);
//       }
//     }
// }



.services-sub-paragraph {
    margin-bottom: 0px;
    margin-top: 0;
    font-family: Epilogue;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0em;
    color: #000000;
    text-align: left;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.services-bullet-styling {

    ul {
        display: inline;
        font-family: Epilogue;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 0px;
        color: #000000;


        li {
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            list-style: none;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0px;
            }
        }



        li::before {
            content: '';
            display: inline-block;
            margin-right: 10px;
            height: 16px;
            width: 9px;
            background-image: url("https://cdn.shopify.com/s/files/1/0662/5122/7356/files/new_icon_076a7f97-1220-4348-ab88-0bf16fdfc281.svg?v=1677496938");
            background-size: 100%;
            background-repeat: no-repeat;
            top: 2px;
            position: relative;
        }
    }
}

.services-columnLLayout1:after {
    z-index: 1;
}



.flexDirectionRight{
    .services-columnLLayout2{
        border-right: 1px solid #000;
        @media screen and (max-width:768px) {
            border-right: 0px;
            
        }
    }
    .service_left_layout{
        border-left:0;
    }
   
}