.plus-banner {
        .shopify-banner {
            display: flex;
            width: 100%;

            @media(max-width:768px) {
                flex-direction: column-reverse !important;

            }

            .sbanner-text {
                width: 50%;
                margin-right: 20px;
                // @media(max-width:1024px){
                //     width: 70%;
                // }

                @media(max-width:768px) {
                    width: 100%;
                    margin-right: 0px;
                }

                .sbanner-heading {
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 100%;
                    letter-spacing: -0.03em;
                    color: #000000;
                    margin-bottom: 32px;

                    @media(max-width:1024px) {
                        font-size: 52px;
                        margin-bottom: 20px;
                    }

                    @media (max-width:520px) {
                        font-size: 42px;
                        margin-bottom: 16px;
                    }
                }

                .sbanner-paragraph {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 150%;
                    color: #000000;
                    margin-bottom: 60px;

                    @media(max-width:1024px) {
                        margin-bottom: 30px;
                    }

                    @media (max-width:520px) {
                        font-size: 16px;
                    }
                }

                .plus-logo {
                    margin-bottom: 50px;

                    @media (max-width:520px) {
                        margin-bottom: 40px;
                    }
                }

                .plus-btn {
                    border: 2px solid #000000;
                    border-radius: 12px;
                    font-weight: 600;
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px 40px;

                    @media (max-width:520px) {
                        font-size: 15px;
                        padding: 12px 15px;
                    }
                }


                .slocation {
                    display: flex;
                    margin-top: 40px;
                    border-top: 1px solid #DEDEDE;
                    padding-top: 20px;

                    .loctext {
                        padding-left: 10px;

                        .locmain {
                            font-family: 'Inter';
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 100%;
                            letter-spacing: -0.03em;
                            color: #000000;
                            margin-bottom: 8px;
                            margin-top: 0;

                            @media (max-width:520px) {
                                font-size: 16px;
                            }
                        }

                        .locsubtext {
                            font-family: 'Inter';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: -0.03em;
                            color: #000000;
                            margin-top: 0;

                            @media (max-width:520px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .sbanner-video {
                width: 50%;
                margin-left: auto;
                //   @media(max-width:1024px){
                //     width: 30%;
                //   }

                @media(max-width:768px) {
                    width: 100%;
                    margin-bottom: 40px;
                }

                .vedio__container.testimonial-vid__container {
                    border: 0;
                    // position: sticky;
                    // top: 120px;
                    @media (max-width:1300px) and (min-width:1023px) {
                        height: 80%;
                    }

                    .video-player {
                        height: 100%;

                        .arrow-btn-sbanner-video {
                            position: absolute !important;
                            top: 35% !important;
                            left: 40% !important;
                            cursor: pointer !important;

                            @media(max-width:768px) {
                                top: 40% !important;
                                left: 45% !important;
                            }

                            @media(max-width:520px) {
                                top: 35% !important;
                               
                            }

                        }
                    }
                }
            }
        }

    }
