.plus-banner {
    .shopify-banner {
        display: flex;
        width: 100%;

        @media(max-width:768px) {
            flex-direction: column-reverse !important;

        }

        .sbanner-text {
            width: 50%;
            margin-right: 20px;
            @media (max-width:1320px){
                margin-right: 20px;
                // width: 50%;
            }

            @media(max-width:768px) {
                width: 100%;
                margin-right: 0px;
            }

            .sbanner-heading {
                font-size: 64px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: -0.03em;
                color: #000000;
                margin-bottom: 32px;
                max-width: 650px;
                // margin-right: 33.5px;
                @media (max-width:1320px){
                    max-width: unset;
                    // margin-right: 20px;
                }

                @media(max-width:1024px) {
                    font-size: 52px;
                    margin-bottom: 20px;
                }

                @media (max-width:520px) {
                    font-size: 42px;
                    margin-bottom: 16px;
                }
            }

            .sbanner-paragraph {
                font-size: 20px;
                font-weight: 400;
                line-height: 150%;
                color: #000000;
                margin-bottom: 60px;
                max-width: 569px;

                @media(max-width:1024px) {
                    margin-bottom: 30px;
                    width: unset;
                }

                @media (max-width:520px) {
                    font-size: 16px;
                }
            }

            .plus-logo {
                display: flex;
                margin-bottom: 50px;
                width: 100%;
                column-gap: 36px;

                @media (max-width:520px) {
                    margin-bottom: 40px;
                    column-gap: 25px;
                }

                @media(max-width:425px) {
                    display: unset;
                }

                .sbanner-logo {
                    @media(max-width:425px){
                        margin-bottom: 20px;
                    }
                    img {
                        width: 198px;
                        object-fit: cover;

                        @media screen and (min-width:767px) and (max-width:1024px) {
                            width: 100px;
                        }

                        @media(max-width:520px) {
                            width: 148px;
                        }
                    }
                }

            }

            .plus-btn-main {
                @media(max-width:425px){
                    margin-top: 40px;
                }
                .plus-btn {
                    border: 2px solid #000000;
                    border-radius: 12px;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px 40px;

                    @media (max-width:520px) {
                        font-size: 15px;
                        padding: 17px 31px 16px 31px;
                        border: 1.5px solid #000;
                        border-radius: 9px;
                    }
                }
            }


            .slocation {
                display: flex;
                margin-top: 58px;
                border-top: 1px solid #DEDEDE;
                padding-top: 20px;

                .loctext {
                    padding-left: 10px; 
                    @media(max-width:520px){
                        padding-left: 17px;
                    }

                    .locmain {
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: -0.03em;
                        color: #000000;
                        margin-bottom: 8px;
                        margin-top: 0;

                        @media (max-width:520px) {
                            font-size: 16px;
                            margin-bottom: 12px;
                        }
                    }

                    .locsubtext {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: -0.03em;
                        color: #000000;
                        margin-top: 0;

                        @media (max-width:520px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .sbanner-video {
            width: 50%;
            margin-left: auto;
            padding-left: 12px;
           @media(max-width:1320px){
            padding-left: unset;
           }
       
        

            @media(max-width:768px) {
                width: 100%;
                margin-bottom: 40px;
            }

            .vedio__container.testimonial-vid__container {
                border: 0;
                
                @media (min-width:767px) {
                    height: 60%; 
                } 
                @media (min-width:1023px) {
                    height: 95%; 
                } 

                .video-player {
                    height: 100%;

                    .arrow-btn-sbanner-video {
                        position: absolute !important;
                        top: 40% !important;
                        left: 46% !important;
                        cursor: pointer !important;

                        @media(max-width:768px) {
                            top: 42% !important;
                            left: 48% !important;
                        }

                        @media(max-width:520px) {
                            top: 35% !important;

                        }

                    }
                }
            }
        }
    }

}