.shoptrade-plus-info {
    .shoptrade-plus-info-main {
            .shoptrade-plus-info-heading {
                padding-bottom: 24px;
                max-width: fit-content;

                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 64px;
                    line-height: 64px;
                    font-weight: 700;
                    width: 457px;

                    @media(max-width:768px) {
                        font-size: 52px;  
                        line-height: 52px;  
                    }

                    @media(max-width:520px) {
                        font-size: 42px;
                        line-height: 42px;
                        width: unset;
                    }

                }
            }

            .shoptrade-plus-info-para {
                padding-bottom: 32px;

                @media (max-width:768px) {
                    padding-bottom: 22px;
                }

                p {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;

                    @media(max-width:768px) {
                        font-size: 16px;
                        line-height: 24px;
                    }

                }
            }

        }

        .shoptrade-plus-info-content-scroll {
            display: flex;
            column-gap: 21px;
            width: 100%;
            overflow-y: hidden;

            cursor: grab;

            &::-webkit-scrollbar {
                width: 1px;
            }

            .shoptrade-plus-info-content {
                display: inline-block;
                border: 1px solid #000;
                border-radius: 10px;
                min-width: 413px;
               padding: 55px 21px 50px 22px;
               @media(max-width:768px){
                padding: 41px 16px 40px 16px;
               }

                @media(max-width:768px) {
                    min-width: 317px;
                }

                .shoptrade-pf-content-heading {
                    padding-bottom: 24px;

                    h4 {
                        margin: 0;
                        padding: 0;
                        font-size: 36px;
                        line-height: 36px;
                        font-weight: 700;
                        @media(max-width:768px) {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                }

                .shoptrade-pf-content-content {
                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        margin: 0;
                        padding: 0;
                        @media(max-width:768px) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
