.ST-product-page-main{
    border-bottom: 1px solid #000;
    @media(max-width:767px){
        overflow: hidden;
    }
.st-product-pg {
    border-top: unset;
    // border-bottom: 1px solid #000;
    @media(max-width:767px){
        flex-direction: column-reverse !important;
    }

    
    .product__info-wrapper {
        padding: 0 0 0 20px !important;
        position: relative;
        @media(max-width:767px){
            padding: 0 !important;
            padding-top: 15px !important;
            width: 100%;
        }
        &::before{
                content: "";
                position: absolute;
                width: 320px;
                height: 130px;
                right: 100px;
                top: 100%;
                background: #FF7121;
                filter: blur(37.5px);
                z-index: -1;
                @media(max-width:1200px){
                    right: 52px;
                }
                @media(max-width:1024px){
                    width: 200px;
                    right: 52px;
                }
                @media(max-width:767px){
                    content: unset;
                }
                @media(min-width: 1420px){
                    right: 22px;
                }
                @media(min-width: 1680px){
                    right: 60px;
                }
            }
          
        .st-product-sticky{
            position: sticky;
            top: 12%; 
            z-index: 2;
            @media(min-width: 1820px){
                top: 8%; 
            }
            @media(max-width:1280px){
                top: 14%;
            }
            @media(max-width:1023px){
                top: 16%;
            }
        }
        .product__info-container {
            border: 1px solid #000;
            padding: 28px 20px;
            border-radius: 8px;
            background: #fff;
            @media(max-width:520px){
                border: none;
                padding: unset;
                border-radius: unset;
            }

            .ST-product-pg-text {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: #FF7121;
                @media(max-width:520px){
                    display: none;
                }
            }

            .product__title {
                padding-top: 10px;
                margin-bottom: 0;
                @media(max-width:520px){
                    padding-top: 0;
                }
                h1 {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 43px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    margin: 0;
                    @media(max-width:520px){
                        font-size: 28px;
                        line-height: 37px;
                    }
                }
            }

            .ST-product-price {
                padding: 0;
                margin: 0;
                margin-top: 16px;

                .price__sale {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row-reverse;

                    span {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;
                        letter-spacing: -0.01em;
                        text-align: left;
                        color: #000;
                    }

                    .price-item.price-item--regular {
                        color: #999999;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: -0.03em;
                        text-align: left;
                    }
                }
            }

            .product_banner_info {
                margin: 0;
                padding: 0;
                padding-top: 12px;
                padding-bottom: 20px;
                @media(max-width:520px){
                    padding-top: 10px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000;
                    @media(max-width:520px){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                border-bottom: 1px solid #000;
            }
            .product-form{
                margin: 0;
            }
            .product-form__input{
                width: 100%;
                display: flex;
                column-gap: 20px;
                padding-top: 20px;
                max-width: unset;
                label{
                    width: 50%;
                }
            }
            .product-form__input input[type='radio'] + label{
                border: 1px solid #000;
                padding: 11px 0;
                margin: 0;
                border-radius: 8px;
                background: #F9F9F9; 
               
            }
            .form__label{
                display: none;
            }
          
            .ST-product-size{
                display: flex;
                flex-direction: row-reverse;
                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                align-items: center;
                justify-content: center;
                .checked-mark{
                 display: none;
                 padding-bottom: 4.5px;
                }
            }
            .product-form__input input[type='radio']:checked + label {
                background-color: #FFF3EC;
                color: #FF7121;
                border-color: #FF7121;
                transition: 0.2s all linear;

                .checked-mark{
                 display: flex;
                 padding-right: 20px;
                 @media(max-width:520px){
                    padding-right: 10px;
                 }
                }
            }
            .product-form__buttons{
                cursor: pointer;
                .start-project-btn{
                    background: #3A4ED4;
                    border-radius: 39px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #3A4ED4;
                    transition: all 0.3s ease-out;
                    &:hover{
                        filter: brightness(0.9);
                    }
                    .shopify-payment-button{
                        width: 100%;
                        button{
                            background: #0b28e9;
                            min-height: unset;
                            padding: 15px 0; 
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 16px;
                            letter-spacing: -0.03em;
                            position: relative;
                            color: #0b28e9;
                            &:after{
                                content: "Start this project";
                                position: absolute;
                                width: 100%;
                                left: 0;
                                right : 0;
                                color: #fff;
                            }
                        }
                    }
                    .shopify-payment-button__button{ 
                        width: 100%;
                        border-radius: 39px;
                        min-height: unset;
                                
                    }
                    a{
                        min-height: unset;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: -0.03em;
                        text-align: center;
                        text-decoration: none;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            .product_payment_info{
                margin-top:20px;
                display: flex;
                // align-items: flex-start;
                justify-content: center;
                span{
                    padding-right: 10px;
                }
                p{
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin: 0;
                    @media(max-width:520px){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
            #opentContactUs{
                text-align: center;
                padding-top: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    color: #999999;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0;
                    padding-right: 5px;
                    @media(max-width:520px){
                        font-size:14px;
                        line-height: 21px;
                    }
                }
                span{
                    color: #FF7121;
                    text-decoration: underline #FF7121;
                    transition: all 0.3s linear;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        text-decoration: none;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
        .shopify-logo{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 36px;
            padding-bottom: 20px;
            @media(max-width:767px){
                padding-top: 13px;
                padding-bottom: 14px;
                margin-top: 37px;
            }
            &::before{
                content: "";
                position: absolute;
                width: 320px;
                height: 130px;
                right: 116px;
                top: -150px;
                filter: blur(37.5px);
                z-index: -1;
            
                @media(min-width:1820px){
                    right: 6em;
                    width: 22em;
                }
                @media(max-width:1200px){
                    width: 200px;
                    right: 65px;
                }
                @media(max-width:767px){
                    content: unset;
                }
                @media(min-width:1420px){
                    width: 279px;
                    right: 79px;
                }
            }
            &::after{
                @media(max-width:767px){
                    position: absolute;
                    content: '';
                    border-top: 1px solid #000;
                    width: 200%;
                    top: 0;
                }
            }
            img{
                width:100%;
                height: auto;
                object-fit: cover; 
            }
        }
        .product__info-container > * + *{
            margin: 0;
            padding: 0;
        }
    }
    .grid__item {
        @media(max-width:767px){
            width: 100%;
        }
        &:first-child{
            border-right: 1px solid #000;
            border-top-right-radius: 10px;
            @media(max-width:767px){
                border: unset;
            }
        }
        .grid--peek.slider .grid__item:first-of-type{
            margin: 0 !important;
        }
        .product__media-gallery{
            position: unset;
            top: unset;
            @media(max-width:767px){
                display: none;
            }
            .slider-mobile-gutter{
                margin-left: unset;
                margin-right: unset;
                ul{
                    li{
                        border-right: unset;
                        .product__modal-opener {
                            .product__media  {  
                                border-top-right-radius: 8px;                            
                               img{
                                border-left: 1px solid #000;
                                border-top: 1px solid #000;
                                border-bottom: 1px solid #000;
                                border-top-right-radius: 5px;
                                top: 1px;
                                left: 1px;
                               }
                            }
                        }
                    }
                }
            }
        }
        .product__description {
            padding: 16px 0 47px 0;
            // border-bottom: 1px solid #000; 
            position: relative;
            @media(max-width:767px){
                padding: 42px 0;
            }
            &::before{
                @media(max-width:767px){
                    content: '';
                    position: absolute;
                    border-top: 1px solid #000;
                    width: 200%;
                    left: -50%;
                    top: 0;
             }
            }
            &::after{
            
                    content: '';
                    position: absolute;
                    border-bottom: 1px solid #000;
                    width: 150%;
                    left: -50%;
                    bottom: 0;
                    @media(max-width:767px){
                        width: 200%;
                    }
             
            }
            h4{
                color: #000;
                font-size: 32px;
                font-weight: 600;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0;
                margin-bottom: 20px;
                @media(max-width: 520px){
                    font-size: 28px;
                    line-height: 37px;
                    margin-bottom: 0px;
                }

            }
            p{
                color: #000;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                padding-right: 10px;
                @media(max-width:520px){
                    margin: 0;
                    margin-top: 6px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
.only-mobile_banner_image{
        display: none;
        @media(max-width:767px){
            display: block;
            padding-top: 17px;
        }
        max-width: fit-content;
        height: auto;
        img{
            width: 100%;
            height: 100%; 
        }
    }
    .product--medium:not(.product--no-media) .product__info-wrapper{
        @media(min-width:1420px){
            max-width: 34% !important;
        }
    }
    .product--medium:not(.product--no-media) .product__media-wrapper{
        @media(min-width:1420px){
            max-width: 66% !important;
        }
    }
    .product-form{
        transition: all 0.3s linear;
    }
    .mobile-sticky {
        @media(max-width:520px){
            position: fixed !important;
            bottom: 0;
            left: 0;
            z-index: 9999;
            width: 100%;
            background: #fff;
            padding:0 3px 19px 3px;
            border-top: 1px solid #000;
            transition: all 0.3s linear;
            animation: button-from-bottom 0.5s ease-in-out;   
        }
        .mobileStickyBtn-child{
            @media(max-width:520px){
                width: calc(100% - 35px);
                margin: 0 auto;
            }
        }
    }
    @keyframes button-from-bottom {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
    }
}
