.sticky_pop_up_parent {
    // display: flex;
    // flex-direction: column-reverse;
    transition: all 0.3s linear;
    position: fixed;
    width: 100%; 
    @media(min-width:1440px){
        position: sticky;
    }
    .tab-sticky-options_main {
        background-color: #fff;

        .tab-sticky-options {

            .options_parent {
                display: none;

                @media(max-width:920px) {
                    display: flex;
                    column-gap: 12px;
                    padding: 16px 0;
                    overflow: auto;
                    // justify-content: center;
                }

                a {
                    display: none;

                    @media(max-width:920px) {
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.1;
                        padding: 10px 20px;
                        cursor: pointer;
                        border: 1px solid #fff;
                        border-radius: 8px;
                        display: block;

                    }

                    &:hover {
                        border-color: var(--COLOR-PRIMARY);
                    }

                    &:nth-child(1) {
                        background-color: #D2F6DA;
                    }

                    &:nth-child(2) {
                        background-color: #F6DFD2;
                    }

                    &:nth-child(3) {
                        background-color: #D2E5F6;
                    }

                    &:nth-child(4) {
                        background-color: #F6EED2;
                    }
                }
            }
        }
    }

    .sticky-popup-content {
        transition: all 0.3s linear;
        height: 0;
        display: none;
        background-color: #fff !important;
        width: 100%;
        transition: all 0.3s linear;

        .sticky-popup {
            background: #fff !important;
            padding: 38px 0;

            position: absolute;
            top: -17.5em;
            left: 0;
            right: 0;
            z-index: 999;
            width: auto;
            overflow: auto;

          
            @media(max-width:991px){
                position: fixed;
                top: 0;
                z-index: 1;

                left: 0;
                right: 0;
                // top: -100%;
                padding: 36px 20px 90px 20px;
                height: 100%;
            }

            .sticky_popup_child {
                display: flex;
                justify-content: space-around;
                width: 90%;

                @media(max-width:920px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 25px;
                }

                @media(max-width:520px) {
                    row-gap: unset;
                    grid-template-columns: repeat(1, 1fr);
                }

                @media(max-width:1200px) {
                    width: auto;
                }

                @media(max-width:1440px) {
                    align-items: left;
                }

                @media (min-width:2140px) {
                    margin: 0 auto;
                    justify-content: space-evenly;
                }

                .sticky-popup_text {
                    &:not(:first-child) {
                        @media(max-width:520px) {
                            margin-top: 30px;
                        }
                    }

                    .sticky-pop_heading {
                        text-decoration: none;
                        color: #000;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.1;
                    }

                    .sticky-pop_links_head {
                        .sticky-pop_links_child {
                            margin-top: 22px;


                            .sticky-pop_links {
                                text-decoration: none;
                                padding: 12px 20px 15px 20px;
                                color: #6C6C6C;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.1;
                                display: block;
                                max-width: fit-content;
                                border-radius: 8px;
                                border: 1px solid #6C6C6C;
                            }

                            &:not(:first-child) {
                                margin-top: 10px;

                            }
                        }
                    }

                }
            }
        }
    }

    .Sticky-options-menu_parent {
        background: #3A4ED4;

        @media(max-width: 991px){
            position: relative;
            z-index: 9999;
        }

        .Sticky-options-menu {
            display: flex;
            align-items: center;

            .all_options {
                padding: 15px 0;
                width: 100%;
                margin: 0 auto;

                @media(min-width:920px) {
                    width: 34%;
                    padding: 15px 0;
                }

                a {
                    color: #FFF;
                    font-size: 27.225px;
                    font-weight: 600;
                    line-height: 36px;
                    letter-spacing: -0.817px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    @media(max-width:920px) {
                        justify-content: center;
                    }
                    @media(max-width:520px){
                        font-size: 20px;
                        line-height: 27px;
                        letter-spacing: -0.613px;
                    }

                    span {
                        padding-left: 10px;
                        line-height: unset;
                        @media(max-width:520px){
                            padding-left: unset;
                            display: flex;
                            align-items: center;
                            }

                        svg {
                            transition: all 0.3s linear;
                            @media(max-width:520px){
                                height: 30px;
                            }
                        }

                        .rotate_arrow {
                            transform: rotate(180deg);
                            transition: all 0.3s ease-in;
                        }
                    }

                }
            }

            .options_parent {
                display: none;
                justify-content: space-between;
                width: 100%;

                @media(min-width:921px) {
                    display: flex;
                }

                a {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 27.225px;
                    font-weight: 600;
                    line-height: 1.1;
                    letter-spacing: -0.817px;
                    cursor: pointer;
                    display: none;

                    @media(min-width:920px) {
                        display: block;
                    }
                }
            }
        }
    }
}

.mobile-sticky-service {
    position: fixed;
    width: 100%;
    z-index: 9;
    bottom: 0;
    animation: button-from-bottom 0.5s ease-in-out;

    @keyframes button-from-bottom {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
}
#sticky_menu_parent_popUP{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    cursor: pointer;
}