.uiDesign {
    &__item {
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--COLOR-BLACK);

        &:not(:last-child) {
            border-right: 1px solid var(--COLOR-BLACK);
        }

        @media (min-width:820px) {
            width: 118px;
            height: 118px;

        }
        @media (min-width:992px) {
            width: 146px;
            height: 149px;

        }

        @media (min-width:1336px) {
            width: 206px;
        }

        @media (min-width:1660px) {
            width: 241px;
        }
        @media (min-width:1920px) {
            width: 275px;
        }

        &.noInteraction.active {
            background-color: var(--COLOR-WHITE) !important;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        &.active {
            background-color: var(--COLOR-PRIMARY);
            transition: .5S ease ALL;
            cursor: pointer;


            path {
                fill: #fff;
            }
        }
    }

    .left-icons {
        .uiDesign__item {
            border-right: 1px solid var(--COLOR-BLACK);
            border-bottom: 1px solid var(--COLOR-BLACK);
        }
    }

    .uiDesingDrwa {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 130px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid var(--COLOR-BLACK);

        @media (max-width:991px) {
            padding: 60px 24px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            width: 334px;
            height: 315px;
            background: #FF7121;
            filter: blur(124px);

            @media (max-width:991px) {
                width: 170px;
                height: 170px;
            transform: translate(50%, -78%);

            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            width: 334px;
            height: 315px;
            background: #FF7121;
            filter: blur(124px);
            @media (max-width:991px) {
                width: 170px;
                height: 170px;
            transform: translate(-50%, 78%);

            }
        }
    }

    .right-icons {
        .uiDesign__item {
            border-left: 1px solid var(--COLOR-BLACK);
            border-bottom: 1px solid var(--COLOR-BLACK);
            border-right: 0;
        }
    }

    .uiText {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


//TEXT ANIMATION

.UImainText {
    max-width: 790px;
    width: 100%;
    padding: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 14px;
    text-align: center;
    display: none;

    @media (max-width:991px) {
        padding: 26px 40px;
    }

    &.active {
        display: block;

        h2 {
            
            display: inline;
            &::before, &::after{
                content: '';
                position: absolute;
                inset: 0;
                height: 110%;
              }
    
              &::before{
                background: white;
                animation: typing 1000ms steps(25) .5s forwards;
                top: -1px;
              }
              
              &::after{
                top: -3px;
                width: .2rem;
                background: black;
                animation: typing 1000ms steps(25) .5s forwards, blink 500ms infinite;
              }
    
              @keyframes typing{
                to{
                  left: 100%;
                }
              }
              
              @keyframes blink{
                to{
                  background: transparent;
                }
              }
        }
    }

    h2 {

        font-family: 'Minecraft';
        position: relative;
        font-weight: 500;
        // font-size: 48px;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0.06em;
        color: #000000;
        margin: 0;

        @media (max-width:1335px) {
            font-size: 12px;
            // font-size: 18px;
        }
        @media (max-width:330px) {
            font-size: 8px;
            // font-size: 18px;
        }

        // padding: 10px 0;
    }

    h2 {
        // animation-name: reveal-colored;
        // animation-duration: 4s;
        // animation-timing-function: ease-out;
        // animation-iteration-count: infinite;
        // overflow: hidden;
        // white-space: nowrap;
        // font-size: 40px;
        &.active {
        }
    }

    // @keyframes reveal-colored {
    //     0% {
    //         max-width: 0;
    //     }

    //     100% {
    //         max-width: 100%;
    //     }
    // }
}