.vedio {
    // border-top: 1px solid var(--COLOR-BLACK);
    border-bottom: 1px solid var(--COLOR-BLACK);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        // height: 1px;
        // width: 16.4%;
        width: calc((100% - 1320px)/2);

        border: .5px solid var(--COLOR-BLACK);

    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        // height: 1px;
        width: calc((100% - 1320px)/2);
        border: .5px solid var(--COLOR-BLACK);



    }

    &::after,
    &::before {
        @media (min-width:768px) {

            width: calc((100% - 720px)/2);

        }
        @media (min-width:992px) {

            width: calc((100% - 960px)/2);

        }

        @media (min-width:1200px) {

            width: calc((100% - 1140px)/2);

        }

        @media (min-width:1440px) {

            width: calc((100% - 1320px)/2);

        }
        @media (min-width:1600px) {

            width: calc((100% - 1530px)/2);

        }
        @media (min-width:1920px) {

            width: calc((100% - 1790px)/2);

        }
    }

    &__wrp {
        padding: 100px;
        border-right: 1px solid var(--COLOR-BLACK);
        border-left: 1px solid var(--COLOR-BLACK);
        position: relative;
        @media (max-width:991px) {
            padding: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -37px;
            height: 41px;
            width: 37px;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);

            @media (max-width:991px) {
                left: -13px;
                height: 14px;
                width: 15px;
                background-size: contain;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            right: -37px;
            height: 41px;
            width: 37px;
            background-image: url(https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrrow-left.svg?v=1668167934);

            @media (max-width:991px) {
                right: -13px;
                height: 14px;
                width: 15px;
                background-size: contain;
            }
        }


    }

    &__container {
        border: 2px solid #000000;
        border-radius: 15px;
        width: 100%;
        // height: 593px;
        overflow: hidden;
        position: relative;

       



    }

    &__info {
        position: absolute;
        bottom: 43px;
        left: 47px;
        right: 47px;

        @media (max-width:991px) {
            bottom: 15px;
            left: 20px;
            right: 20PX;
        }

        .h1-main {
            @media (max-width:991px) {
                font-size: 20px;
            }
        }

        p {
            @media (max-width:991px) {
                display: none;
            font-size: 8px;}
        }
    }

    &__thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.model-popup {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: .9);
    display: none;


    &__wrp {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__vedio {
        max-width: 960px;
        width: 92%;
        height: 480px;
        margin: auto;

        @media (max-width:991px) {
            height: 250px;
        }
    }

    .close-model {
        position: relative;
        display: block;
        float: right;
        top: -26px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotate(-45deg);

        }

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotate(45deg);
        }
    }

}